<template>
  <div class="List">
    <ChecklistChildrenList :entity="entity" v-if="(entity.__typename === 'Checklist')"/>
    <GoalChildrenList :entity="entity" v-if="(entity.__typename === 'Goal')"/>
  </div>
</template>
<script>
  import ChecklistChildrenList from './ChildrenLists/ChecklistChildrenList'
  import GoalChildrenList from './ChildrenLists/GoalChildrenList'

  export default {
    name: 'ChildrenList',
    components: {ChecklistChildrenList, GoalChildrenList},
    props: {
      entity: {}
    }
  }
</script>
