<template>
  <div class="EntityFullView">
    <q-card>
      <q-card-title>
        {{entity.name}}
        <span slot="subtitle">{{entity.__typename}}</span>
      </q-card-title>
      <q-card-separator/>
      <q-card-main>
        <div
          class="desc"
          v-if="(entity.description && entity.description.length)"
        >
          {{entity.description}}
        </div>
        <div v-else>No description</div>
      </q-card-main>
      <q-card-separator v-if="(entity.comment && entity.comment.length)"/>
      <q-card-main>
        <div
          class="desc"
          v-if="(entity.comment && entity.comment.length)"
          v-html="entity.comment"
        >
        </div>
        <div v-else>No comment</div>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="canHaveStatus(entity)">
        <Status :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="canHaveDates(entity)">
        <EntityDatesDisplay :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="canHaveFilters(entity)">
        <FiltersBadges :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <ChildrenList
        :entity="entity"
        v-if="isParent(entity)"
      />
      <q-card-separator/>
      <q-card-actions align="end">
        <q-btn
          color="primary"
          @click="closeForm"
          icon="close"
        />
        <q-btn
          color="amber-10"
          @click="delayEditEntity(entity)"
          icon="create"
        />
        <q-btn
          color="red-10"
          @click="removeEntity(entity)"
          icon="delete_forever"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
  import FiltersBadges from './FiltersBadges'
  import Status from './Status'
  import EntityDatesDisplay from './EntityDatesDisplay'
  import ChildrenList from './ChildrenList'

  export default {
    name: 'EntityFullView',
    components: {ChildrenList, EntityDatesDisplay, Status, FiltersBadges},
    props: {
      entity: {}
    },
    data () {
      return {}
    },
    methods: {
      closeForm () {
        this.$store.dispatch('entity/closeForm')
      },
      removeEntity (entity) {
        this.$store.dispatch('entity/remove', entity)
        this.$store.dispatch('entity/closeForm', entity)
      },
      editEntity (entity) {
        this.$store.dispatch('entity/openEditForm', entity)
      },
      delayEditEntity (entity) {
        this.$store.dispatch('entity/closeForm', entity)
        setTimeout(() => {
          this.editEntity(entity)
        }, 500)
      }
    }
  }
</script>

<style lang="stylus">
  .EntityFullView
    border 1px white dashed
</style>
