<template>
  <div class="Dates" v-if="canHaveDates(entity)">
    <q-chip icon="today" color="primary">
      {{$date.formatDate(entity.start, 'Do MMM YYYY')}}
    </q-chip>
    <q-chip icon-right="today" color="primary">
      {{$date.formatDate(entity.end, 'Do MMM YYYY')}}
    </q-chip>
    <br>
    <br>
    {{entity.start}}
    <br>
    <br>
    {{entity.end}}
  </div>
</template>
<script>
  export default {
    name: 'EntityDatesDisplay',
    props: {
      entity: {}
    }
  }
</script>
