<template>
  <div class="">
    <q-chip small :icon="$variables.getFilterIcon({__typename: 'Context'})" color="blue-grey-6" v-for="filter in entity.contexts" :key="filter.id" class="">
      {{filter.name}}
    </q-chip>
    <q-chip small :icon="$variables.getFilterIcon({__typename: 'Mood'})" color="info" v-for="filter in entity.moods" :key="filter.id" class="">
      {{filter.name}}
    </q-chip>
    <q-chip small :icon="$variables.getFilterIcon({__typename: 'Block'})" color="positive" v-for="filter in entity.blocks" :key="filter.id" class="">
      {{filter.name}}
    </q-chip>
    <q-chip small :icon="$variables.getFilterIcon({__typename: 'Project'})" color="deep-orange-6" v-for="filter in entity.projects" :key="filter.id" class="">
      {{filter.name}}
    </q-chip>
    <q-chip small :icon="$variables.getFilterIcon({__typename: 'Category'})" color="brown-6" v-for="filter in entity.categories" :key="filter.id" class="">
      {{filter.name}}
    </q-chip>
  </div>
</template>
<script>
  export default {
    name: 'FiltersBadges',
    props: {
      entity: {}
    }
  }
</script>
