<template>
  <div class="Status" v-if="canHaveStatus(entity)">
    <q-btn-dropdown :label="(loading ?'loading':statusText)" :color="statusColor" :icon="statusIcon" dense>
      <!-- dropdown content -->
      <q-list dense>
        <q-item v-close-overlay v-for="(status, index) in $variables.statusSettings" :key="status.label">
          <q-item-main>
            <q-item-tile>
              <q-btn
                size="sm"
                v-if="index !== 'empty'"
                @click="updateEntity(index)"
                flat
                :icon="status.icon"
                :color="status.color"
                class="full-width"
                :label="status.label">
                <span slot="loading">Loading...</span>
              </q-btn>
            </q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>
<script>
  import gql from 'graphql-tag'
  export default {
    name: 'Status',
    props: {
      entity: {}
    },
    data () {
      return {
        loading: false
      }
    },
    computed: {
      statusColor () {
        if (!this.entity.status) {
          return this.$variables.statusSettings.empty.color
        } else {
          return this.$variables.statusSettings[this.entity.status].color
        }
      },
      statusIcon () {
        if (!this.entity.status) {
          return this.$variables.statusSettings.empty.icon
        } else {
          return this.$variables.statusSettings[this.entity.status].icon
        }
      },
      statusText () {
        if (!this.entity.status) {
          return this.$variables.statusSettings.empty.label
        } else {
          return this.$variables.statusSettings[this.entity.status].label
        }
      }
    },
    methods: {
      updateEntity (status = 'Pending') {
        this.performUpdate(status)
      },
      performUpdate (status = 'Pending') {
        // We save the user input in case of an error
        // We clear it early to give the UI a snappy feel
        // Call to the graphql mutation
        this.loading = true
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation ($status: Status, $id: ID!) {
              update${this.entity.__typename}(status: $status, id: $id) {
                id
              }
            }`,
          // Parameters
          variables: {
            status: status,
            id: this.entity.id
          }
        }).then((data) => {
          // Result
          console.log(data)
          console.log('start refetching')
          this.$root.$emit('refetch_list')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      }
    }
  }
</script>
