<template>
  <div class="WeekView">
    Day
  </div>
</template>

<script>
  import dateFs from 'date-fns'
  export default {
    name: 'WeekView',
    props: ['entities'],
    computed: {
      days () {
        return this.entities
          .reduce((item, accumulator) => {
            if (
              (dateFs.isAfter(day, entity.start) || dateFs.isSameDay(day, entity.start)) &&
              (dateFs.isAfter(entity.end, day) || dateFs.isSameDay(day, entity.end))
            ) {
              accumulator[day].push(entity)
            }
          }, {})
      }
    }
  }
</script>

<style lang="scss">
  .WeekView {
  }
</style>
