<template>
  <div class="row">
    <div class="col-12">
      <q-card v-for="child in tempList" :key="child.id" class="q-my-md">
        <q-card-title>
          {{child.name}}
          <span v-if="child.description" slot="subtitle" class="text-black">
            {{child.description}}
          </span>
          <div slot="right">
            <q-btn color="amber-10" @click="editChildEntity(child)" dense icon="create"/>
            <q-btn color="red-10" @click="removeEntity(child)" icon="delete_forever" dense />
          </div>
        </q-card-title>
        <q-card-separator />
        <q-card-main class="row gutter-md">
          <div class="com-xs-6">
            <q-btn round push color="info" size="sm" @click="move(child, 'up')" icon="keyboard_arrow_up"  />
            <q-btn outline style="color: black; "  :label="child.order.toString()" />
            <q-btn round push class="q-my-md" color="info"  size="sm" @click="move(child, 'down')" icon="keyboard_arrow_down"  />
          </div>
          <div class="com-xs-6">
            <Status :entity="child"/>
          </div>
        </q-card-main>
      </q-card>
      <q-card>
        <q-card-main>
          <q-btn icon="add" color="primary" label="New Point" @click="createChildEntity"/>
        </q-card-main>
      </q-card>
      <q-modal v-model="openChildEditModal">
        <EntityFormCard :entity="childEdited" no-close :type="modalType" @close="updatedChild"/>
      </q-modal>
    </div>
  </div>
</template>
<script>
  import apolloClient from '../../../plugins/data/provider/DataClient/apollo'
  import gql from 'graphql-tag'
  import {orderBy} from 'lodash'
  import EntityFormCard from '../../EntityFormCard'
  import Status from '../Status'
  import {CHECKLISTS_POINTS} from '../../../plugins/data/provider/DataModels/Checklists/queries'
  export default {
    name: 'ChecklistChildrenList',
    props: {
      entity: {}
    },
    data () {
      return {
        list: [],
        tempList: [],
        openChildEditModal: false,
        modalType: 'create',
        childEdited: {},
        loading: false
      }
    },
    apollo: {
      list: {
        query: CHECKLISTS_POINTS,
        variables () {
          return {
            id: this.entity.id
          }
        },
        update (r) {
          let start = 10
          let result = r.Checklist.points
            .map(point => {
              return {...point}
            })
            .map(point => {
              point.__index = start
              start = start + 10
              return point
            })
            .map(point => {
              return point
            })
          this.tempList = result
          return result
        }
      }
    },
    methods: {
      removeEntity (entity) {
        this.$store.dispatch('entity/remove', entity)
        this.delayedRefetch()
      },
      editChildEntity (entity) {
        this.openChildEditModal = true
        this.modalType = 'edit'
        this.childEdited = {...entity}
      },
      updatedChild () {
        this.openChildEditModal = false
        this.modalType = 'create'
        this.delayedRefetch()
      },
      delayedRefetch () {
        setTimeout(this.refetchList, 200)
      },
      refetchList () {
        this.$apollo.queries.list.refetch()
      },
      createChildEntity () {
        this.openChildEditModal = true
        this.modalType = 'create'
        let newPoint = {__typename: 'Point', checklistId: this.entity.id}
        newPoint.order = this.tempList.length + 1
        this.childEdited = newPoint
      },
      move (entity, direction) {
        if (direction === 'up') {
          entity.__index = entity.__index - 15
        } else {
          entity.__index = entity.__index + 15
        }
        this.reorderPoints()
      },
      reorderPoints () {
        let newList = this.tempList.map(point => {
          return {...point}
        })
        newList = orderBy(newList, (point) => {
          return point.__index
        })
        this.list = newList
        let start = 10
        newList.map(point => {
          point.__index = start
          start = start + 10
        })
        newList = newList.map(point => {
          return {
            ...point,
            order: point.__index / 10
          }
        })
        console.log('new List')
        console.log(newList)
        this.tempList = newList
        console.log('start update')
        this.loading = true
        this.updatePointsOrder()
        // let string = ``
        // newList.forEach(point => {
        //   string = string + `mutation updatePonty${point.order} {
        //   y${point.order}: updatePoint(id: "${point.id}", order: ${point.order})  {
        //     order
        //   }
        // }`
        // })
        // console.log('string', string)
      },
      updatePointsOrder () {
        let point = this.tempList.find(point => {
          return !point.__updated
        })
        if (!point) {
          console.log('no point')
          this.updateComplete()
          return
        }
        console.log('updating point', point)
        let string = `mutation updatePonty {
          updatePoint(id: "${point.id}", order: ${point.order})  {
            order
          }
        }`
        apolloClient.mutate({
          mutation: gql`${string}`
        }).then(r => {
          console.log('succ', r)
          point.__updated = true
          this.updatePointsOrder()
        }).catch(err => {
          console.log('err', err.message)
        })
      },
      updateComplete () {
        console.log('refetching')
        this.loading = false
        this.$apollo.queries.list.refetch()
      }
    },
    components: {Status, EntityFormCard}
  }
</script>
<style lang="stylus">
  .ChildItem {
    /*background-color #f9ffb7*/
    &:hover {
      /*background-color #f8ff8d*/
    }
    &:last-child {
      border-bottom 1px solid lightgrey
    }
  }
  .ChildrenList {
    /*border: 3px red dashed*/
  }
  .ChildrenList .q-list-header.topOne {
    border-bottom: 3px #cccccc solid
  }

</style>
