<template>
  <div class="GoalSteps">
    <div class="GoalSteps-cards">
      <q-card v-for="child in list" :key="child.id" text-color="black" color="blue-grey-2" class="q-my-md">
        <q-card-title>
          {{child.name}}
          <div v-if="child.description" slot="subtitle" class="text-black" v-html="child.description">
          </div>
          <div slot="right">
            <q-btn color="amber-10" @click="editChildEntity(child)" dense icon="settings_overscan"/>
            <q-btn color="red-10" @click="removeEntity(child)" icon="delete_forever" dense/>
          </div>
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          <span class="stepStart shadow-1  q-pa-xs bg-blue-grey-6 text-blue-grey-1">
              {{humanDate(child.start)}}
            </span>
          <span class="stepEnd shadow-1 q-ml-md q-pa-xs bg-blue-grey-6 text-blue-grey-1">
              {{humanDate(child.end)}}
          </span>
        </q-card-main>
        <q-card-separator/>
        <q-card-main>
          <Status :entity="child"/>
        </q-card-main>
      </q-card>
    </div>
    <q-list-header>
      <q-btn icon="add" color="primary" label="New Step" @click="createChildEntity"/>
      <q-btn icon="add" color="negative" label="Remove steps" @click="removeAllSteps"/>
      <q-btn icon="add" color="positive" label="generate steps" @click="openGeneratorModal = true"/>
    </q-list-header>
    <q-modal v-model="openChildEditModal">
      <EntityFormCard :entity="childEdited" no-close :type="modalType" @close="updatedStep" style="min-width: 80vw"/>
    </q-modal>
    <q-modal v-model="openGeneratorModal">
      <StepsGeneratorModal
        :goal="entity"
        @refetchcall="refetchList"
      />
      <q-btn icon="highlight_off" label="Close" @click="openGeneratorModal = false"/>
    </q-modal>
  </div>
</template>
<script>
  import EntityFormCard from '../../EntityFormCard'
  import Status from '../Status'
  import {GOAL_STEPS} from '../../../plugins/data/provider/DataModels/Goals/queries'
  import {removeEntity as removeStep} from '../../../plugins/data/graphqlQueries'
  import StepsGeneratorModal from './StepsGeneratorModal'
  export default {
    name: 'GoalChildrenList',
    props: {
      entity: {}
    },
    data () {
      return {
        list: [],
        openChildEditModal: false,
        openGeneratorModal: false,
        modalType: 'create',
        childEdited: {}
      }
    },
    apollo: {
      list: {
        query: GOAL_STEPS,
        variables () {
          return {
            id: this.entity.id
          }
        },
        fetchPolicy: 'network-only',
        update (r) {
          return r.Goal.steps
        }
      }
    },
    methods: {
      removeEntity (entity) {
        this.$store.dispatch('entity/remove', entity)
        this.delayedRefetch()
      },
      editChildEntity (entity) {
        this.openChildEditModal = true
        this.modalType = 'edit'
        this.childEdited = {...entity}
      },
      createChildEntity () {
        this.openChildEditModal = true
        this.modalType = 'create'
        this.childEdited = {__typename: 'Step', goalId: this.entity.id}
      },
      updatedStep () {
        this.openChildEditModal = false
        this.modalType = 'create'
        this.delayedRefetch()
      },
      delayedRefetch () {
        setTimeout(this.refetchList, 200)
      },
      refetchList () {
        console.log('refetching')
        this.$apollo.queries.list.refetch()
      },
      async removeAllSteps () {
        this.$q.loading.show()
        await this.asyncForEach(this.list, async (item) => {
          let res = await removeStep(item)
          console.log(`removed ${item.name}`)
          console.log(res)
        })
          .then(r => {
            this.$q.loading.hide()
            this.refetchList()
          })
      }
    },
    components: {StepsGeneratorModal, Status, EntityFormCard}
  }
</script>
<style lang="stylus">
</style>
