<template>
  <div class="StepsGeneratorModal" style="min-width: 80vw">
    Goal name: {{goal.name}}
    <q-btn icon="done" color="positive" label="Push" @click="push"/>
    <q-collapsible icon="explore" label="Maker">
      <div>
        <OccurrenceMaker
          :start="goal.start"
          :end="goal.end"
          @ok="generate"
        />
      </div>
    </q-collapsible>
    <q-collapsible icon="explore" label="Result">
      <div>
        <div class="flex justify-between">
          <EntityCard
            v-for="(step, index) in steps"
            :key="index"
            :entity="step"
          >
            {{step.name}}, {{step.start}}, {{step}}
          </EntityCard>
        </div>
      </div>
    </q-collapsible>
  </div>
</template>

<script>
  import { date as dateUtil } from 'quasar'
  import OccurrenceMaker from '../../OccurrenceMaker'
  import EntityCard from '../../EntityCard'
  import {createEntity as createStep} from '../../../plugins/data/graphqlQueries'
  export default {
    name: 'StepsGeneratorModal',
    components: {EntityCard, OccurrenceMaker},
    props: ['goal'],
    data () {
      return {
        steps: []
      }
    },
    methods: {
      stepConstructor (date, name, order, description) {
        let end = ''
        console.log('end', end)
        const { addToDate } = dateUtil
        let newDate = addToDate(Date.parse(date), { hours: 23 })
        return {
          __typename: 'Step',
          start: date,
          end: newDate,
          name: name + ' ' + order,
          description: description,
          goalId: this.goal.id,
          status: 'Pending'
        }
      },
      generate (dates) {
        this.steps = dates.map((date, index) => {
          return this.stepConstructor(date, this.goal.name, index, this.goal.description)
        })
      },
      async push () {
        this.$q.loading.show()
        await this.asyncForEach(this.steps, async (item) => {
          let res = await createStep(item)
          console.log(`created ${item.name}`)
          console.log(res)
        })
          .then(r => {
            this.$q.loading.hide()
            this.$emit('refetchcall')
          })
      }
    }
  }
</script>

<style lang="scss">
  .StepsGeneratorModal {
  }
</style>
