<template>
  <div class="GoalsAdvancedList">
    <q-card>
      <q-card-title>
        Goals ({{goals.length}}) ({{steps.length}})
        <q-btn icon="autorenew" label="refetch" @click="refetchList"/>
      </q-card-title>
      <q-card-separator/>
      <q-collapsible icon="explore" label="Variable">
        <DisplayVariable :variable="variable"/>
      </q-collapsible>
      <q-collapsible icon="explore" label="Settings">
        <div class="row">
          <div class="col-xs-12 col-md-6">
          </div>
          <div class="col-xs-12 col-md-6">
            <q-toggle v-model="showSteps" label="Show steps" />
          </div>
        </div>
      </q-collapsible>
      <q-collapsible icon="explore" label="list">
        <div class="flex justify-around" v-if="!showSteps">
          <EntityCard
            :entity="goal"
            v-for="goal in goals"
            :key="goal.id"
          />
        </div>
        <div class="flex justify-around" v-if="showSteps">
          <EntityCard
            :entity="step"
            v-for="step in steps"
            :key="step.id"
          />
        </div>
      </q-collapsible>
    </q-card>
  </div>
</template>

<script>
  import {filter} from '../../../plugins/data/graphqlQueries/filtersFilter/filtersFilter'
  import {goals} from './queries'
  import DisplayVariable from '../DisplayVariable'
  import EntityCard from '../../EntityCard'

  export default {
    name: 'GoalsAdvancedList',
    components: {EntityCard, DisplayVariable},
    data () {
      return {
        goals: [],
        showSteps: false
      }
    },
    computed: {
      variable () {
        return {
          id: this.userId,
          filter: {
            AND: [
              this.apply ? filter : {},
              this.showSteps ? {} : this.datesFilter
            ]
          },
          stepFilter: {
            AND: [
              this.statusFilter,
              !this.showSteps ? {} : this.datesFilter
            ]
          }
        }
      },
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      },
      steps () {
        if (this.goals && this.goals.length) {
          return this.goals
            .reduce((accum, goal) => {
              accum = [
                ...accum,
                ...goal.steps
              ]
              return accum
            }, [])
        }
        return []
      },
      statusFilter () {
        return {
          status_in: this.$store.state.filters.entityStatuses
        }
      },
      datesFilter () {
        if (!this.$store.getters['dates/applyDates']) {
          return {}
        }
        return this.$store.getters['dates/getRules']
      }
    },
    methods: {
      refetchList () {
        this.$q.notify({
          message: `Refetching goals`,
          timeout: 3000,
          type: 'info',
          icon: 'autorenew',
          position: 'top-right'
        })
        this.$apollo.queries.goals.refetch()
      }
    },
    apollo: {
      goals: {
        query: goals,
        variables () {
          return this.variable
        },
        update (data) {
          return data.User.goals
        },
        result ({data, loading, networkStatus}) {
          this.$q.notify({
            message: `goals loaded: ${data.User.goals.length}`,
            timeout: 2000,
            type: 'positive',
            icon: 'done',
            position: 'top-right'
          })
        },
        error (error) {
          this.$q.notify({
            message: `failed to load goals: ${error.message}`,
            timeout: 2000,
            type: 'negative',
            icon: 'done',
            position: 'top-right'
          })
        },
        loadingKey: 'loadingQueriesCount'
      }
    }
  }
</script>

<style lang="scss">
  .GoalsAdvancedList {
  }
</style>
