<template>
  <div class="StatusFilter">
    <q-card>
      <q-card-separator />
      <q-card-main>
        <q-checkbox
          v-model="statuses"
          :val="status"
          :label="status"
          v-for="(status, index) in statusOptions" :key="index"
        />
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
  import {CANCELLED, COMPLETE, FAILED, PENDING, WORKING} from '../../plugins/variables'

  export default {
    name: 'StatusFilter',
    data () {
      return {
        statusOptions: [
          PENDING,
          WORKING,
          COMPLETE,
          FAILED,
          CANCELLED
        ]
      }
    },
    computed: {
      statuses: {
        get () {
          return this.$store.state.filters.entityStatuses
        },
        set (val) {
          this.$store.commit('filters/setStatuses', val)
        }
      }
    }
  }
</script>

<style lang="scss">
  .StatusFilter {
  }
</style>
