<template>
  <div class="DatesField">
    <q-field
      label="start"
      class="col-4"
    >
      <q-datetime v-model="entity.start" type="date" :first-day-of-week="1"/>
    </q-field>
    <q-field
      label="end"
      class="col-4"
    >
      <q-datetime v-model="entity.end" type="date" :first-day-of-week="1"/>
    </q-field>
  </div>
</template>
<script>
  export default {
    name: 'DatesField',
    props: {
      entity: {}
    }
  }
</script>
