<template>
  <div class="form">
    <NameField :entity="entity"/>
    <q-field
      class="q-my-sm"
      label="description"
      orientation="vertical"
    >
      <q-input v-model="entity.description" v-if="entity.__typename !== 'Step'"/>
      <q-editor :value="entity.description || ''" @input="setDescription" v-if="entity.__typename === 'Step'"/>
    </q-field>
    <q-field
      class="q-my-sm"
      label="Status"
      v-if="hasField('status')"
      orientation="vertical"
    >
      <q-select
        v-model="entity.status"
        :options="statuses"
      />
    </q-field>
    <DatesField :entity="entity" v-if="hasField('dates')" class="q-my-lg"/>
    <FiltersSelect :entity="entity" v-if="canHaveFilters(entity)"/>
  </div>
</template>
<script>
  // TODO start end fields for Task, Goal, Step Done
  // TODO points for Checklists
  // TODO steps for Goal
  // TODO type for checklists
  // TODO order for Points
  import NameField from './NameField'
  import FiltersSelect from './FiltersSelect'
  import DatesField from './DatesField'

  export default {
    name: 'EntityFields',
    components: {DatesField, FiltersSelect, NameField},
    props: {
      entity: {status: 'Pending'}
    },
    data () {
      return {
        statuses: [
          {
            label: 'Pending',
            value: 'Pending'
          },
          {
            label: 'Working',
            value: 'Working'
          },
          {
            label: 'Complete',
            value: 'Complete'
          },
          {
            label: 'Failed',
            value: 'Failed'
          },
          {
            label: 'Cancelled',
            value: 'Cancelled'
          }
        ],
        entityFields: {
          status: ['Task', 'Point', 'Step'],
          dates: ['Task', 'Goal', 'Step'],
          filters: ['Task', 'Goal', 'Checklist']
        }
      }
    },
    methods: {
      hasField (field) {
        return this.entityFields[field].includes(this.entity.__typename)
      },
      setDescription (v) {
        this.entity.description = v
      }
    }
  }
</script>
