<template>
  <div class="filters" v-if="filters.blocks">
    <div class="filtersField">
      <div class="row justify-around gutter-xs ">
        <div class="col-xs-12 q-my-md">
          <q-field
            label="contexts"
            orientation="vertical"
          >
            <CheckboxSelect v-model="entity.contexts" :options="filters.contexts"/>
          </q-field>
        </div>
        <div class="col-xs-12 q-my-md">
          <q-field
            label="categories"
            orientation="vertical"
          >
            <CheckboxSelect v-model="entity.categories" :options="filters.categories"/>
          </q-field>
        </div>
        <div class="col-xs-12 q-my-md">
          <q-field
            label="blocks"
            orientation="vertical"
          >
            <CheckboxSelect v-model="entity.blocks" :options="filters.blocks"/>
          </q-field>
        </div>
        <div class="col-xs-12 q-my-md">
          <q-field
            label="projects"
            orientation="vertical"
          >
            <CheckboxSelect v-model="entity.projects" :options="filters.projects"/>
          </q-field>
        </div>
        <div class="col-12 q-my-md">
          <q-field
            label="moods"
            orientation="vertical"
          >
            <CheckboxSelect v-model="entity.moods" :options="filters.moods"/>
          </q-field>
        </div>
      </div>
  </div>
  </div>
</template>
<script>
  import {stuff} from '../../plugins/graphql'
  import multiselect from 'vue-multiselect'
  import CheckboxSelect from '../CheckboxSelect'
  export default {
    name: 'FiltersSelect',
    props: {
      entity: {}
    },
    data () {
      return {
        filters: {},
        multipleSelect: [],
        selectOptions: [
          {
            label: 'Google',
            value: 'goog'
          },
          {
            label: 'Facebook',
            value: 'fb'
          }
        ]
      }
    },
    apollo: {
      filters: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = r.User
          let filters = {
            blocks: user.blocks,
            categories: user.categories,
            moods: user.moods,
            projects: user.projects,
            contexts: user.contexts
          }
          return filters
        }
      }
    },
    methods: {
      convertOptions (array) {
        return array.map(filter => {
          return {
            label: filter.name,
            value: filter
          }
        })
      },
      customLabel (option) {
        return `${option.name}`
      }
    },
    computed: {
    },
    components: {
      CheckboxSelect,
      multiselect
    }
  }
</script>
<style lang="scss">
  @import "../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
  .filtersField {
  }
</style>
