<template>
  <q-field
    class="q-my-sm"
    label="name"
    orientation="vertical"
  >
    <q-input v-model="entity.name"/>
  </q-field>
</template>
<script>
  export default {
    name: 'NameField',
    props: {
      entity: {}
    }
  }
</script>
