<template>
  <div class="TasksAdvancedList">
    <q-card>
      <q-card-title >
        Tasks ({{tasks.length}})
        <q-btn icon="autorenew" label="refetch" @click="refetchList" />
      </q-card-title>
      <q-card-separator/>
      <q-collapsible icon="explore" label="Variable">
        <DisplayVariable :variable="variable"/>
      </q-collapsible>
      <q-collapsible icon="explore" label="list">
        <TasksList :tasks="tasks"/>
      </q-collapsible>
    </q-card>
  </div>
</template>

<script>
  import DisplayVariable from '../DisplayVariable'
  import {tasks} from './queries/queries'
  import TasksList from './TasksList'
  import {filter} from '../../../plugins/data/graphqlQueries/filtersFilter/filtersFilter'

  export default {
    name: 'TasksAdvancedList',
    components: {TasksList, DisplayVariable},
    data () {
      return {
        tasks: []
      }
    },
    computed: {
      variable () {
        return {
          id: this.userId,
          filter: {
            AND: [
              this.datesFilter,
              this.statusFilter,
              this.apply ? filter : {}
            ]
          }
        }
      },
      datesFilter () {
        if (!this.$store.getters['dates/applyDates']) {
          return {}
        }
        return this.$store.getters['dates/getRules']
      },
      statusFilter () {
        return {
          status_in: this.$store.state.filters.entityStatuses
        }
      },
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      }
    },
    methods: {
      refetchList () {
        this.$q.notify({
          message: `Refetching list`,
          timeout: 3000,
          type: 'info',
          icon: 'autorenew',
          position: 'top-right'
        })
        this.$apollo.queries.tasks.refetch()
      }
    },
    apollo: {
      tasks: {
        query: tasks,
        variables () {
          return this.variable
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          this.$q.notify({
            message: `Tasks matched: ${user.tasks.length}`,
            timeout: 1000,
            type: 'positive',
            textColor: 'white',
            icon: 'done',
            position: 'top-right'
          })
          return user.tasks
        }
      }
    },
    created () {
      this.$root.$on('refetch_list', () => {
        this.refetchList()
      })
    },
    destroyed () {
      this.$root.$off('refetch_list')
    }
  }
</script>

<style lang="scss">
  .TasksAdvancedList {
  }
</style>
