<template>
  <div class="TasksList flex">
    <EntityCard :entity="entity" v-for="entity in tasks" :key="entity.id" class="q-ma-sm"/>
  </div>
</template>

<script>
  import EntityCard from '../../EntityCard'
  export default {
    name: 'TasksList',
    components: {EntityCard},
    props: ['tasks']
  }
</script>

<style lang="scss">
  .TasksList {
  }
</style>
