<template>
  <div class="Trash flex justify-between">
    <div
      class="row"
      style="width: 100%"
    >
      <div class="col-12">
        <timeline
          ref="timeline"
          :items="factoryItems"
          :groups="groups"
          :options="options"
          @select="selectItem"
        >
        </timeline>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-new */

  import EntityListMixin from '../EntityListMixin'
  import Timeline from 'vue2vis/src/components/Timeline'

  export default {
    name: 'Trash',
    components: {
      'timeline': Timeline
    },
    mixins: [EntityListMixin],
    data () {
      return {
        groups: [{
          id: 0,
          content: '1'
        }],
        items: [{
          id: 0,
          group: 0,
          start: new Date(),
          content: 'Now'
        }],
        options: {
          editable: false
        }
      }
    },
    computed: {
      entitiesForGantt () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Step' ||
              entity.__typename === 'Task' ||
              entity.__typename === 'Goal'
          })
          .map(entity => {
            return {
              id: entity.id,
              group: 0,
              name: entity.name,
              start: Date.parse(entity.start),
              end: Date.parse(entity.end),
              content: `${entity.__typename}:${entity.name}`,
              __entity: entity
            }
          })
          .concat(this.items)
      },
      selectedItems () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Step' ||
              entity.__typename === 'Task' ||
              entity.__typename === 'Goal'
          })
      },
      selectedTasks () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Task'
          })
      },
      factoryItems () {
        return this.selectedTasks
          .map(entity => {
            return {
              id: entity.id,
              group: 0,
              name: entity.name,
              start: Date.parse(entity.start),
              end: Date.parse(entity.end),
              className: `st${entity.status}`,
              content: `T ${entity.name}`,
              __entity: entity
            }
          })
          .concat(this.items)
          .concat(this.factorySteps)
          .concat(this.factoryGoals)
      },
      factoryGoals () {
        return this.selectedGroups
          .map((goal, index) => {
            return {
              id: `GL${goal.id}`,
              content: `G ${goal.name}`,
              start: goal.start,
              end: goal.end,
              type: 'background',
              className: 'negative'
            }
          })
      },
      factorySteps () {
        let steps = []
        this.selectedGroups
          .map((entity, index) => {
            // let id = index + 1
            entity.steps.forEach((step, indexStep) => {
              console.log(`index step ${indexStep}, for goal ${index}`)
              steps.push({
                id: step.id,
                group: 0,
                name: step.name,
                start: Date.parse(step.start),
                end: Date.parse(step.end),
                content: `S ${step.name}`,
                className: `st${step.status}`,
                __entity: step
              })
            })
          })
        return steps
      },
      selectedGroups () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Goal'
          })
      },
      factoryGroups () {
        return this.selectedGroups
          .map((entity, index) => {
            let id = index + 1
            return {
              id: id,
              group: 0,
              name: entity.name,
              start: Date.parse(entity.start),
              end: Date.parse(entity.end),
              content: `${entity.__typename}${id}:${entity.name}`,
              __entity: entity
            }
          })
          .concat(this.groups)
      },
      ganttObject () {
        return [
          {
            id: 1,
            name: '1',
            children: this.entitiesForGantt
          }
        ]
      }
    },
    methods: {
      selectItem (item, test) {
        console.log('sss')
        console.log(item)
        console.log(test)
        let selectedItem = this.entitiesForGantt.find(entity => {
          return entity.id === item.items[0]
        })
        if (selectedItem && selectedItem.__entity) {
          console.log('open')
          console.log(selectedItem.__entity)
          this.$store.dispatch('entity/openViewForm', selectedItem.__entity)
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "~vue2vis/dist/vue2vis.css";

  .Trash {
  }
  .stPending {
    background-color: #005cff;
    color: white !important;
  }
  .stFailed {
    background-color: lightcoral;
  }
  .stComplete {
    background-color: lightgreen;
  }
  .stCanceled {
    background-color: lightgray;
  }
  .stWorking {
    background-color: mediumpurple;
  }

  .GanttChart {
    background-color: lightgrey;
    width: 500px;
  }

  .details-container {
    width: auto;
    background-color: darkgray;
    color: black;
    min-width: 300px;
  }
</style>
