<template>
  <div class="DatesFilterImg">
    <div class="row">
      <div class="col-xs-12 ">
        <q-field
        >
          <q-toggle
            v-model="applyDates"
            label="Apply dates"
          />
        </q-field>
        <q-field
        >
          <q-toggle
            v-model="showDateless"
            label="Show Dateless"
          />
        </q-field>
      </div>
    </div>
    <div
      class="flex justify-around"
      v-if="applyDates"
    >
      <div class="q-ma-xs ">
        <p>begin {{startDate}}</p>
        <q-field class="q-ma-xs">
          <q-datetime
            placeholder="start"
            v-model="startDate"
            type="date"
          />
        </q-field>
      </div>
      <div class="q-ma-xs ">
        <p>finish {{endDate}}</p>
        <q-field class="q-ma-xs">
          <q-datetime
            v-model="endDate"
            type="date"
          />
        </q-field>
      </div>
    </div>
    <q-collapsible
      icon="explore"
      opened
      label="dates Presets"
    >
      <div class="row gutter-xs">
        <div class="col-4 flex justify-center">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="undo"
            label="week"
            @click="setDatesPreset('past_week')"
          />
        </div>
        <div class="col-4 flex justify-center">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="save_alt"
            label="week"
            @click="setDatesPreset('this_week')"
          />
        </div>
        <div class="col-4 flex justify-center">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="redo"
            label="week"
            @click="setDatesPreset('next_week')"
          />
        </div>
        <div class="col-4">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="undo"
            label="month"
            @click="setDatesPreset('past_month')"
          />
        </div>
        <div class="col-4">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="save_alt"
            label="month"
            @click="setDatesPreset('this_month')"
          />
        </div>
        <div class="col-4">
          <q-btn
            size="md"
            color="blue-grey-7"
            dense
            icon="redo"
            label="month"
            @click="setDatesPreset('next_month')"
          />
        </div>
        <div class="col-12 flex justify-center">
          <q-btn
            size="xl"
            color="blue-7"
            icon="arrow_downward"
            label="today"
            @click="setDatesPreset('today')"
          />
        </div>
      </div>
    </q-collapsible>
    <q-collapsible
      icon="explore"
      opened
      label="types Presets"
    >
      <div class="row gutter-xs bg-blue-8 q-mb-xl q-py-md">
        <div class="col-xs-12 col-md-4" :class="{ activePreset: (vuexTypePreset === 'out-back') }">
          <q-card class="pointer">
            <q-card-media @click.native="setTypesPreset('out-back')">
              <img src="~assets/images/dates/dates-out-back.png">
            </q-card-media>
          </q-card>
        </div>
        <div class="col-xs-12 col-md-4" :class="{ activePreset: (vuexTypePreset === 'across') }">
          <q-card class="pointer">
            <q-card-media @click.native="setTypesPreset('across')">
              <img src="~assets/images/dates/dates-across.png">
            </q-card-media>
          </q-card>
        </div>
        <div class="col-xs-12 col-md-4" :class="{ activePreset: (vuexTypePreset === 'out-forward') }">
          <q-card class="pointer">
            <q-card-media @click.native="setTypesPreset('out-forward')">
              <img src="~assets/images/dates/dates-out-forward.png">
            </q-card-media>
          </q-card>
        </div>
      </div>
    </q-collapsible>
  </div>
</template>

<script>
  import dateFs from 'date-fns'
  import {FILTERS_CONSTS} from '../../plugins/queryBuilder'

  export default {
    name: 'DatesFilterImg',
    data () {
      return {
        typeOptions: [
          'start_gt',
          'start_gte',
          'start_lt',
          'start_lte',
          'end_gt',
          'end_gte',
          'end_lt',
          'end_lte'
        ],
        currentType: 'across'
      }
    },
    computed: {
      startDate: {
        get () {
          return this.$store.getters['dates/getStart']
        },
        set (val) {
          this.$store.commit('dates/setStart', val)
        }
      },
      endDate: {
        get () {
          return this.$store.getters['dates/getEnd']
        },
        set (val) {
          this.$store.commit('dates/setEnd', val)
        }
      },
      startType: {
        get () {
          return this.$store.getters['dates/getStartType']
        },
        set (val) {
          this.$store.commit('dates/setStartType', val)
        }
      },
      endType: {
        get () {
          return this.$store.getters['dates/getEndType']
        },
        set (val) {
          this.$store.commit('dates/setEndType', val)
        }
      },
      applyDates: {
        get () {
          return this.$store.getters['dates/applyDates']
        },
        set () {
          this.$store.commit('dates/toggleApplyDates')
        }
      },
      showDateless: {
        get () {
          return this.$store.getters['dates/showDateless']
        },
        set () {
          this.$store.commit('dates/toggleShowDateless')
        }
      },
      vuexTypePreset () {
        let vuexValue = this.$store.getters['dates/getDatesKind']
        if (vuexValue === FILTERS_CONSTS.TIME_KINDS.TOUCH_BOTH_SIDES) {
          return 'across'
        } else if (vuexValue === FILTERS_CONSTS.TIME_KINDS.OUT_BACKWARD) {
          return 'out-back'
        } else {
          return 'out-forward'
        }
      }
    },
    methods: {
      setDatesPreset (type) {
        console.log('set dates preset')
        if (type === 'this_week') {
          let start = dateFs.startOfWeek(Date.now())
          let end = dateFs.endOfWeek(Date.now())
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'next_week') {
          let date = dateFs.addWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'past_week') {
          let date = dateFs.subWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'past_month') {
          let date = dateFs.subMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'this_month') {
          let date = Date.now()
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'today') {
          let date = Date.now()
          let start = dateFs.startOfDay(date)
          let end = dateFs.endOfDay(date)
          this.startDate = start
          this.endDate = end
          this.setTypesPreset(this.vuexTypePreset)
        } else if (type === 'next_month') {
          let date = dateFs.addMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
        }
      },
      setTypesPreset (type) {
        // across
        if (type === 'across') {
          let rules = {
            OR: [
              {
                start_lt: this.endDate,
                start_gte: this.startDate,
                end_gt: this.endDate
              },
              {
                start_gte: this.startDate,
                end_lte: this.endDate
              },
              {
                start_lt: this.startDate,
                end_gte: this.startDate,
                end_lt: this.endDate
              },
              {
                start_lte: this.startDate,
                end_gte: this.endDate
              }
            ]
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.TOUCH_BOTH_SIDES)
          // out forward
        } else if (type === 'out-forward') {
          let rules = {
            start_gt: this.endDate,
            end_gt: this.endDate
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.OUT_FORWARD)
          // in forward
        } else if (type === 'in-forward') {
          let rules = {
            start_lt: this.endDate,
            start_gte: this.startDate,
            end_gt: this.endDate
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.IN_FORWARD)
          // in
        } else if (type === 'in') {
          let rules = {
            start_gte: this.startDate,
            end_lte: this.endDate
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.IN)
          // in back
        } else if (type === 'in-back') {
          let rules = {
            start_lt: this.startDate,
            end_gte: this.startDate,
            end_lt: this.endDate
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.IN_BACKWARD)
          // out back
        } else if (type === 'out-back') {
          let rules = {
            start_lt: this.startDate,
            end_lt: this.startDate
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.OUT_BACKWARD)
        } else if (type === 'none') {
          let rules = {
            start: null,
            end: null
          }
          this.$store.commit('dates/setRules', rules)
          this.$store.commit('dates/setDatesKind', FILTERS_CONSTS.TIME_KINDS.NONE)
        } else if (type === 'without') {
          this.$store.commit('dates/setRules', {})
        }
      }
    }
  }
</script>

<style lang="scss">
  .DatesFilterImg {
    .activePreset {
      opacity: 0.4;
    }
  }
</style>
