<template>
  <div class="DatesFilter">
    <div class="row q-my-lg">
      <div class="col-xs-12 shadow-6 q-my-md q-pa-md">
        <q-field
        >
          <q-toggle v-model="applyDates" label="Apply dates"/>
        </q-field>
      </div>
    </div>
    <div class="flex justify-around" v-if="applyDates">
      <div class="q-ma-md shadow-7">
        <p>begin {{startDate}}</p>
        <q-field class="q-ma-md">
          <q-datetime placeholder="start" v-model="startDate" type="date"/>
        </q-field>
        <q-radio
          class="q-ma-md"
          v-model="startType"
          :val="type"
          :label="type"
          v-for="(type, index) in typeOptions" :key="index"
        />
      </div>
      <div class="q-ma-md shadow-7">
        <p>finish {{endDate}}</p>
        <q-field class="q-ma-md">
          <q-datetime v-model="endDate" type="date"/>
        </q-field>
        <q-radio
          class="q-ma-md"
          v-model="endType"
          :val="type"
          :label="type"
          v-for="(type, index) in typeOptions" :key="index"
        />
      </div>
    </div>
    <q-collapsible icon="explore" opened label="Presets">
      <div>
        <q-btn label="this_week" @click="setPreset('this_week')"/>
        <q-btn label="next_week" @click="setPreset('next_week')"/>
        <q-btn label="past_week" @click="setPreset('past_week')"/>
        <q-btn label="past_month" @click="setPreset('past_month')"/>
        <q-btn label="this_month" @click="setPreset('this_month')"/>
        <q-btn label="today" @click="setPreset('today')"/>
        <q-btn label="late" @click="setPreset('late')"/>
        <q-btn label="next_month" @click="setPreset('next_month')"/>
      </div>
    </q-collapsible>
  </div>
</template>

<script>
  import dateFs from 'date-fns'

  export default {
    name: 'DatesFilter',
    data () {
      return {
        typeOptions: [
          'start_gt',
          'start_gte',
          'start_lt',
          'start_lte',
          'end_gt',
          'end_gte',
          'end_lt',
          'end_lte'
        ]
      }
    },
    computed: {
      startDate: {
        get () {
          return this.$store.getters['dates/getStart']
        },
        set (val) {
          this.$store.commit('dates/setStart', val)
        }
      },
      endDate: {
        get () {
          return this.$store.getters['dates/getEnd']
        },
        set (val) {
          this.$store.commit('dates/setEnd', val)
        }
      },
      startType: {
        get () {
          return this.$store.getters['dates/getStartType']
        },
        set (val) {
          this.$store.commit('dates/setStartType', val)
        }
      },
      endType: {
        get () {
          return this.$store.getters['dates/getEndType']
        },
        set (val) {
          this.$store.commit('dates/setEndType', val)
        }
      },
      applyDates: {
        get () {
          return this.$store.getters['dates/applyDates']
        },
        set () {
          this.$store.commit('dates/toggleApplyDates')
        }
      }
    },
    methods: {
      setPreset (type) {
        if (type === 'this_week') {
          let start = dateFs.startOfWeek(Date.now())
          let end = dateFs.endOfWeek(Date.now())
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        } else if (type === 'next_week') {
          let date = dateFs.addWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        } else if (type === 'past_week') {
          let date = dateFs.subWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        } else if (type === 'past_month') {
          let date = dateFs.subMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        } else if (type === 'this_month') {
          let date = Date.now()
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        } else if (type === 'today') {
          let date = Date.now()
          let start = dateFs.startOfDay(date)
          let end = dateFs.endOfDay(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'end_gte'
          this.endType = 'start_lte'
        } else if (type === 'late') {
          let date = Date.now()
          let start = dateFs.startOfYear(date)
          let end = dateFs.endOfDay(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_gt'
          this.endType = 'end_lt'
        } else if (type === 'next_month') {
          let date = dateFs.addMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.startDate = start
          this.endDate = end
          this.startType = 'start_lte'
          this.endType = 'end_gte'
        }
      }
    }
  }
</script>

<style lang="scss">
  .DatesFilter {
  }
</style>
