<template>
  <div class="TasksLate">
    <q-card>
      <q-card-title>
        -TasksLate
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <p>Here we want show tasks that starts before end of today ({{todayEnd()}})</p>
        <p>and ends also before today start ({{todayStart().toString()}}), so its truly Late, not actual.</p>
        <p>We also dont want to show task without dates.</p>
        <p>No filters. Users tasks only. No completed</p>
        <q-btn icon="autorenew" color="green-6" label="Refetch" dense @click="fetchList"/>
      </q-card-main>
      <q-card-separator />
      <q-card-main>
        <p>here we go</p>
        <div class="flex">
          <EntityCard :entity="entity" v-for="entity in lateTasks" :key="entity.id" class="q-ma-sm"/>
        </div>
      </q-card-main>
    </q-card>

  </div>
</template>

<script>
  import TaskOre from '../../plugins/data/provider/DataModels/Tasks/Ore/taskOre'
  import EntityCard from '../EntityCard'
  // s
  export default {
    name: 'TasksLate',
    components: {EntityCard},
    data () {
      return {
        lateTasks: null
      }
    },
    computed: {
    },
    methods: {
      fetchList () {
        let start = this.todayStart()
        let end = this.todayEnd()
        return TaskOre.req(start, end)
          .then(r => {
            this.lateTasks = r.data.User.tasks
          })
      }
    },
    mounted () {
      this.fetchList()
    }
  }
</script>

<style lang="scss">
  .TasksLate {
  }
</style>
