<template>
  <div class="Widget">
    <q-card>
      <q-card-title>
        {{title}}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <slot name="description"></slot>
        <q-btn icon="create" label="New item" dense @click="fetchList"/>
      </q-card-main>
      <q-card-separator />
      <q-card-main>
        <slot name="iterable">
          <slot name="iterator"></slot>
        </slot>
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
  import {get} from 'lodash'
  import {gql} from 'graphql-tag'
  export default {
    name: 'Widget',
    props: {
      title: {
        type: String,
        default: 'Widget'
      },
      iterable: {
        type: Array,
        default: () => []
      },
      iterator: {
        validator: (value) => {
          return true
        }
      },
      apolloQuery: {
        type: String,
        default: ``
      },
      address: {
        type: String,
        default: ''
      }
    },
    // Apollo-specific options
    apollo: {
      // Advanced query with parameters
      // The 'variables' method is watched by vue
      list: {
        query: gql`${this.apolloQuery}`,
        // Reactive parameters
        variables () {
          // Use vue reactive properties here
          return {
            ...this.variables
          }
        },
        // Variables: deep object watch
        update (data) {
          console.log(data)
          // The returned value will update
          // the vue property 'pingMessage'
          return get(data, this.address)
        },
        // Optional result hook
        result ({data, loading, networkStatus}) {
          console.log('We got some result!')
        },
        // Error handling
        error (error) {
          console.error('We\'ve got an error!', error)
        },
        // Loading state
        // loadingKey is the name of the data property
        // that will be incremented when the query is loading
        // and decremented when it no longer is.
        loadingKey: 'loadingQueriesCount',
        // watchLoading will be called whenever the loading state changes
        watchLoading (isLoading, countModifier) {
          // listen for an event (dont forget off)
          this.$root.$on(this.address, () => {
            this.$apollo.queries.list.refetch()
          })
        }
      }
    }
  }
</script>

<style lang="scss">
  .Widget {
  }
</style>
