<template>
  <q-page class="row justify-center q-pa-md">
    <div class="col-12">
      <q-list>
        <div style="width: 90vw; height:900px; background-color:white;">
          <ECharts :options="echartsOption" style="width: 100%; height:100%"></ECharts>
        </div>
      </q-list>
    </div>
  </q-page>
</template>

<script>
  import { date as dateUtil } from 'quasar'
  import {stuff} from '../plugins/graphql'
  import ECharts from 'vue-echarts/components/ECharts.vue'
  import 'echarts/lib/chart/pie'
  import 'echarts/lib/component/title'
  import echarts from 'echarts'

  export default {
    name: 'YearsPage',
    components: {ECharts},
    data () {
      return {
        list: [],
        open1: false,
        open2: false
      }
    },
    computed: {
      filteredList () {
        let result = this.list.filter(entity => {
          return this.entityTypes.includes(entity.__typename)
        })
          .filter(entity => {
            return (entity.start && entity.end)
          })
          .map(entity => {
            entity.__dates = this.datesFromRange(entity.start, entity.end)
            return entity
          })
          .reduce((acc, entity) => {
            let dates = entity.__dates
              .map(date => {
                return [
                  date,
                  1,
                  entity.name + ' ' + entity.__typename
                ]
              })
            acc.push(...dates)
            return acc
          }, [])
        return result
      },
      echartsData () {
        return []
      },
      datesFilter () {
        if (!this.applyDates) {
          return null
        }
        let filter = {
          start_gte: this.start ? this.start : null
        }
        if (this.showLate) {
          filter.end_lte = this.start ? this.start : null
        }
        return filter
      },
      // TODO we can refactor this
      tasksAndGoalsFilter () {
        let filter = {}
        if (this.apply) {
          filter = this.$graphql.applyFilter
        }
        if (this.applyDates) {
          filter.start_gte = this.start ? this.start : null
          filter.start_lte = this.end ? this.end : null
        }
        if (this.applyDates && this.showLate) {
          delete filter.start_gte
          delete filter.start_lte
          filter.end_lt = this.start ? this.start : null
        }
        return filter
      },
      entityTypes: {
        get () {
          return this.$store.getters['filters/getShowEntityTypes']
        },
        set (val) {
          console.log(val)
          // this.$store.commit('moduleName/mutationName', attribute)
        }
      },
      start: {
        get () {
          return this.$store.getters['dates/getStart']
        },
        set (val) {
          this.$store.commit('dates/setStart', val)
        }
      },
      end: {
        get () {
          return this.$store.getters['dates/getEnd']
        },
        set (val) {
          this.$store.commit('dates/setEnd', val)
        }
      },
      showLate: {
        get () {
          return this.$store.getters['dates/showLate']
        },
        set () {
          this.$store.commit('dates/toggleShowLate')
        }
      },
      applyDates: {
        get () {
          return this.$store.getters['dates/applyDates']
        },
        set () {
          this.$store.commit('dates/toggleApplyDates')
        }
      },
      echartsOption () {
        return {
          tooltip: {
            position: 'top',
            formatter: function (p) {
              var format = echarts.format.formatTime('yyyy-MM-dd', p.data[0])
              return format + ': ' + p.data[2]
            }
          },

          calendar: [
            {
              orient: 'horizontal',
              cellSize: [15, 15],
              top: 40,
              range: '2017'
            },
            {
              orient: 'horizontal',
              cellSize: [15, 15],
              top: 250,
              range: '2018'
            },
            {
              top: 500,
              cellSize: [15, 15],
              orient: 'horizontal',
              range: '2019',
              dayLabel: {
                margin: 5
              }
            }],

          series: [{
            name: '2017',
            type: 'heatmap',
            coordinateSystem: 'calendar',
            calendarIndex: 0,
            data: this.filteredList
          }, {
            type: 'heatmap',
            name: '2018',
            coordinateSystem: 'calendar',
            calendarIndex: 1,
            data: this.filteredList
          }, {
            type: 'heatmap',
            name: '2019',
            coordinateSystem: 'calendar',
            calendarIndex: 2,
            data: this.filteredList
          }]
        }
      }
    },
    methods: {
      delayedRefetch () {
        console.log('refetching entities')
        setTimeout(() => {
          console.log(this.$apollo)
          this.$apollo.queries.list.refetch()
        }, 300)
      },
      datesFromRange (start, end) {
        start = new Date(start)
        end = new Date(end)
        let year = start.getFullYear()
        let month = start.getMonth()
        let day = start.getDate()
        let dates = [start]
        while (dates[dates.length - 1] < end) {
          dates.push(new Date(year, month, ++day))
        }
        dates = dates.map(date => {
          return dateUtil.formatDate(new Date(date), 'YYYY-MM-DD')
        })
        return dates
      }
    },
    apollo: {
      list: {
        query: stuff.ALL_ENTITIES_QUERY,
        variables () {
          let filter = this.apply ? this.$graphql.applyFilter : null
          return {
            userId: this.userId,
            checklistFilter: filter,
            goalFilter: this.tasksAndGoalsFilter,
            taskFilter: this.tasksAndGoalsFilter,
            stepFilter: this.datesFilter
          }
        },
        fetchPolicy: 'network-only',
        update (r) {
          let user = r.User
          let entities = []
          user.tasks.forEach(task => {
            entities.push({...task})
          })
          user.goals.forEach(goal => {
            entities.push({...goal})
            goal.steps.forEach(step => {
              entities.push({...step})
            })
          })
          return entities
        }
      }
    },
    mounted () {
      console.log('mounter')
      this.$root.$on('refetch_entities', this.delayedRefetch)
      this.$root.$on('refetch_list', this.delayedRefetch)
    },
    destroyed () {
      this.$root.$off('refetch_entities', this.delayedRefetch)
      this.$root.$off('refetch_list', this.delayedRefetch)
    }
  }
</script>
