<template>
  <q-page class="q-pa-md">
    <div class="advancedList">
      <q-stepper color="secondary" ref="stepper" alternative-labels vertical>
        <q-step default name="first" title="Dates">
          <q-stepper-navigation>
            <q-btn color="secondary" @click="$refs.stepper.next()" label="Continue" />
          </q-stepper-navigation>
          <div>
            <DatesFilterImg/>
          </div>
          <!-- Navigation for this step at the end of QStep-->
        </q-step>
        <q-step name="second" title="Filters"  >
          <q-stepper-navigation>
            <q-btn color="secondary" @click="$refs.stepper.next()" label="Next" />
            <q-btn color="secondary" flat @click="$refs.stepper.previous()" label="Back" />
          </q-stepper-navigation>
          <div v-if="user" class="q-mt-md">
            <q-field
            >
              <q-toggle v-model="apply" label="Apply filters"/>
            </q-field>
            <q-collapsible icon="explore" label="filters" class="shadow-4 q-my-md">
              <div>
                <FilterToggleList :heading="item" :list="user[item]" v-for="item in Object.keys(user)" :key="item"/>
              </div>
            </q-collapsible>
          </div>
        </q-step>
        <q-step  name="third" title="Statuses">
          <q-stepper-navigation>
            <q-btn color="secondary" @click="$refs.stepper.next()" label="Next" />
            <q-btn color="secondary" flat @click="$refs.stepper.previous()" label="Back" />
          </q-stepper-navigation>
          <div>
            <StatusFilter/>
          </div>
        </q-step>
        <q-step
          name="fourth"
          title="Type"
        >
          <q-stepper-navigation>
            <q-btn color="secondary" @click="$refs.stepper.next()" label="Next" />
            <q-btn color="secondary" flat @click="$refs.stepper.previous()" label="Back" />
          </q-stepper-navigation>
          <q-field
            label="Type"
          >
            <q-radio v-model="type" val="Task" label="Task" />
            <q-radio v-model="type" val="Goal" label="Goal" />
            <q-radio v-model="type" val="Checklist" label="Checklist" />
          </q-field>
        </q-step>
        <q-step name="fifth" title="Result">
          <q-stepper-navigation>
            <q-btn color="secondary" @click="$refs.stepper.reset()" label="reset" />
            <q-btn color="secondary" flat @click="$refs.stepper.previous()" label="Back" />
          </q-stepper-navigation>
          <TasksAdvancedList class="q-my-md" v-if="type === 'Task'"/>
          <ChecklistsAdvancedList class="q-my-md" v-if="type === 'Checklist'"/>
          <GoalsAdvancedList class="q-my-md" v-if="type === 'Goal'"/>
        </q-step>
      </q-stepper>
    </div>
  </q-page>
</template>

<script>
  import TasksAdvancedList from '../components/AdvancedList/Tasks/TasksAdvancedList'
  import StatusFilter from '../components/StatusFilter/StatusFilter'
  import {stuff} from '../plugins/graphql'
  import FilterToggleList from '../components/FiltersToggleModal/FilterToggleList'
  import ChecklistsAdvancedList from '../components/AdvancedList/Checklists/ChecklistsAdvancedList'
  import GoalsAdvancedList from '../components/AdvancedList/Goals/GoalsAdvancedList'
  import DatesFilterImg from '../components/DatesFilter/DatesFilterImg'

  export default {
    name: 'advancedList',
    components: {
      DatesFilterImg,
      GoalsAdvancedList,
      ChecklistsAdvancedList,
      FilterToggleList,
      StatusFilter,
      TasksAdvancedList
    },
    data () {
      return {
        user: null,
        typeOptions: [
          'Task',
          'Goal',
          'Checklist'
        ],
        type: 'Task'
      }
    },
    computed: {
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      }
    },
    apollo: {
      user: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          return user
        }
      }
    }
  }
</script>

<style lang="scss">
  .advancedList {
  }
</style>
