<template>
  <q-page class="row gutter-sm justify-center q-pb-xs">
    <BlocksList/>
  </q-page>
</template>

<script>

  import {stuff} from '../plugins/graphql'
  import FilterList from '../components/FilterList'
  import BlocksList from '../components/BlocksList'

  export default {
    name: 'BlocksPage',
    components: {BlocksList, FilterList},
    data () {
      return {
        user: {}
      }
    },
    apollo: {
      user: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          return user
        }
      }
    },
    methods: {
      delayedRefetch () {
        console.log('refetching filters')
        setTimeout(() => {
          this.$apollo.queries.user.refetch()
        }, 300)
      }
    },
    mounted () {
      console.log('mounter')
      this.$root.$on('refetch_filters', this.delayedRefetch)
    },
    destroyed () {
      this.$root.$off('refetch_filters', this.delayedRefetch)
    }
  }
</script>
