<template>
  <div class="CategoriesPage row gutter-sm justify-center q-pb-xs">
    <CategoriesList/>
  </div>
</template>

<script>
  import CategoriesList from '../components/CategoriesList'
  export default {
    name: 'CategoriesPage',
    components: {CategoriesList}
  }
</script>

<style lang="scss">
  .CategoriesPage {
  }
</style>
