<template>
  <div class="ChartsPage q-pa-md">
    <EntitiesTimeLine/>
  </div>
</template>

<script>

  import EntitiesTimeLine from '../components/EntitiesTimeLine/EntitiesTimeLine'
  export default {
    name: 'ChartsPage',
    components: {EntitiesTimeLine}
  }
</script>

<style lang="scss">
  .ChartsPage {
  }
</style>
