<template>
  <q-page>
    <div class="justify-center q-pb-xs">
      <div class="q-mt-md q-ml-md row">
        <div class="col-12">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <q-checkbox
                v-model="checklistTypes"
                :val="0"
                label="Blueprint"
              />
              <q-checkbox
                v-model="checklistTypes"
                :val="1"
                label="Running"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-around" v-if="filteredList && filteredList.length">
      <ChecklistCard :entity="checklist" v-for="checklist in filteredList" :key="checklist.id"/>
    </div>
  </q-page>
</template>

<script>
  import EntityListMixin from '../components/EntityListMixin'
  import ChecklistCard from '../components/ChecklistCard'
  import {stuff} from '../plugins/graphql'
  export default {
    name: 'checklistsPage',
    components: {ChecklistCard},
    mixins: [EntityListMixin],
    data () {
      return {
        checklistTypes: [1, 0],
        queryState: stuff.CHECKLISTS_QUERY
      }
    },
    computed: {
      entityTypes () {
        return ['Checklist']
      },
      totalVariable () {
        return {
          userId: this.userId,
          checklistFilter: this.checklistFilter
        }
      }
    }
  }
</script>

<style>
</style>
