<template>
  <q-page class="row justify-center q-pb-xs">
    <div class="col-12">
      <q-collapsible group="somegroup" icon="explore" label="First">
        <pre>
          {{filtersFilter}}
        </pre>
      </q-collapsible>
      <q-list>
        <q-collapsible label="List settings" opened>
          <div class="row">
            <div class="col-6">
              <q-field
                orientation="vertical"
              >
                <q-radio v-model="listType" val="tiles" label="Tiles"/>
                <q-radio v-model="listType" val="table" label="Table"/>
                <q-radio v-model="listType" val="calendar" label="Calendar"/>
                <q-radio v-model="listType" val="group" label="group by date"/>
                <q-radio v-model="listType" val="timeline" label="timeline"/>
              </q-field>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <q-checkbox
                    v-model="checklistTypes"
                    :val="0"
                    label="Blueprint"
                  />
                  <q-checkbox
                    v-model="checklistTypes"
                    :val="1"
                    label="Running"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-collapsible>
        <div>
          <div class="row justify-around" v-if="listType==='tiles'">
            <div v-for="entity in filteredList" :key="entity.id">
              <EntityCard :entity="entity"  v-if="entity.__typename !== 'Goal' && entity.__typename !== 'Log'"/>
              <div v-else-if="entity.__typename === 'Log'">
                <LogCard :entity="entity"/>
              </div>
              <GoalCard class="q-my-lg" style="width: 360px" :goal="entity" v-else/>
            </div>
          </div>
          <EntitiesTable :list="filteredList" v-if="listType==='table'"/>
          <EntitiesCalendar :list="filteredList" v-if="listType==='calendar'"/>
          <GroupByDate :entities="filteredList" v-if="listType === 'group' && applyDates"/>
          <TimeLine :entities="filteredList" v-if="listType === 'timeline' && applyDates"/>
        </div>
      </q-list>
    </div>
  </q-page>
</template>

<script>
  import EntityListMixin from '../components/EntityListMixin'
  export default {
    name: 'EntityListPage',
    mixins: [EntityListMixin]
  }
</script>
