<template>
  <q-page class="row gutter-sm justify-center q-pb-xs">
    <div class="col-md-5 col-sm-12" v-if="user" v-for="(filterList, index) in Object.values(user)" :key="index">
      <FilterList :list="filterList" :name="Object.keys(user)[index]" />
    </div>
  </q-page>
</template>

<script>

  import {stuff} from '../plugins/graphql'
  import FilterList from '../components/FilterList'

  export default {
    name: 'FiltersPage',
    components: {FilterList},
    data () {
      return {
        user: {}
      }
    },
    apollo: {
      user: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          return user
        }
      }
    },
    methods: {
      delayedRefetch () {
        console.log('refetching filters')
        setTimeout(() => {
          this.$apollo.queries.user.refetch()
        }, 300)
      }
    },
    mounted () {
      console.log('mounter')
      this.$root.$on('refetch_filters', this.delayedRefetch)
    },
    destroyed () {
      this.$root.$off('refetch_filters', this.delayedRefetch)
    }
  }
</script>
