<template>
  <q-page >
    <q-btn icon="navigate_before" label="Back to filters" color="primary" :to="{name: 'FiltersPage'}" class="q-my-md"/>
    <div class="Filter" v-if="filter">
      <q-card>
        <q-card-title>
          {{filter.name}}
          <span slot="subtitle">{{filter.__typename}}</span>
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <div class="Checklists" v-if="filter.checklists">
            <p>Checklists</p>
            <div class="row justify-around">
              <ChecklistCard :entity="entity" v-for="entity in filter.checklists" :key="entity.id"/>
            </div>
          </div>
        </q-card-main>
        <q-card-separator />
        <q-card-main>
          <div class="Goals" v-if="filter.goals">
            <p>Goals</p>
            <div class="row justify-around">
              <GoalCard class="q-my-lg" style="width: 360px" :goal="entity" v-for="entity in filter.goals" :key="entity.id" />
            </div>
          </div>
        </q-card-main>
        <q-card-separator />
        <q-card-main>
          <div class="Tasks" v-if="filter.tasks">
            <p>Tasks</p>
            <div class="row justify-around">
              <EntityCard :entity="entity" v-for="entity in filter.tasks" :key="entity.id" />
            </div>
          </div>
        </q-card-main>
      </q-card>
    </div>
  </q-page>
</template>

<script>
  import gql from 'graphql-tag'
  import EntityCard from '../components/EntityCard'
  import GoalCard from '../components/GoalCard'
  import ChecklistCard from '../components/ChecklistCard'
  export default {
    name: 'FilterDetailsPage',
    data () {
      return {
        filter: null
      }
    },
    computed: {
      filterQuery () {
        let type = this.$route.params.type
        let id = this.$route.params.id
        let query = `query FilterDetails {
          ${type} (id: "${id}") {
            name
            description
            checklists  {
              id
              name
              description
              type
              points {
                id
                name
                description
                order
                status
              }
            }
            goals {
              id
              name
              start
              end
              description
              steps {
                id
                name
                description
                start
                end
                finished
                status
              }
            }
            tasks {
              id
              name
              start
              end
              status
              description
            }
          }

        }`
        return query
      }
    },
    apollo: {
      // Advanced query with parameters
      // The 'variables' method is watched by vue
      filter () {
        return {
          query: gql`${this.filterQuery}`,
          update (data) {
            console.log(data)
            return Object.values(data)[0]
          },
          result ({data, loading, networkStatus}) {
            console.log('We got some result!')
          },
          error (error) {
            console.error('We\'ve got an error!', error)
          },
          loadingKey: 'loadingQueriesCount',
          watchLoading (isLoading, countModifier) {
          }
        }
      }
    },
    components: {EntityCard, GoalCard, ChecklistCard}
  }
</script>

<style>
</style>
