<template>
  <q-page padding>
    <div class=" row gutter-sm justify-between " v-if="goals">
      <div class="col-md-4 col-xs-12"  v-for="goal in goals" :key="goal.id">
        <GoalCard :goal="goal"/>
      </div>
    </div>
  </q-page>
</template>

<script>
  import {USER_GOALS} from '../plugins/data/provider/DataModels/Goals/queries'
  import AbstractRefetchable from '../components/AbstractRefetchable'
  import GoalCard from '../components/GoalCard'

  export default {
    name: 'goalsPage',
    extends: AbstractRefetchable,
    data () {
      return {
        goals: null,
        apply: false
      }
    },
    methods: {
      refetchList () {
        console.log('refetching')
        this.$apollo.queries.goals.refetch()
      }
    },
    apollo: {
      goals: {
        query: USER_GOALS,
        variables () {
          return {
            id: this.userId,
            filter: this.apply ? this.$graphql.applyFilter : null
          }
        },
        update (data) {
          console.log(data)
          return data.User.goals
        },
        error (error) {
          console.error('We\'ve got an error!', error)
        },
        loadingKey: 'loadingQueriesCount',
        watchLoading (isLoading, countModifier) {
          // isLoading is a boolean
          // countModifier is either 1 or -1
        }
      }
    },
    components: {GoalCard}
  }
</script>
