<template>
  <q-page class="row justify-center">
    <div class="col-7">
      <q-card class="q-my-lg shadow-5">
        <q-card-title>
          Tasks
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          Show tasks
        </q-card-main>
      </q-card>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
