<template>
  <q-page class="row justify-center items-center">
    <form class="col-6">
      <q-card>
        <q-card-title>
          Login
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          <q-field icon="face" class="q-ma-md">
            <q-input v-model="credentials.email" placeholder="email" class="full-width"/>
          </q-field>
          <q-field icon="vpn_key" class="q-ma-md">
            <q-input v-model="credentials.password" type="password" autocomplete="off" placeholder="Your password" class="full-width"/>
          </q-field>
          <q-btn color="primary" class="full-width q-ma-md" @click="performLogin">Login</q-btn>
        </q-card-main>
      </q-card>
    </form>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    performLogin () {
      if (!this.credentials.email.length) {
        this.$q.notify({
          message: 'no user name',
          position: 'top'
        })
        return
      }
      // We save the user input in case of an error
      const creds = this.credentials
      // We clear it early to give the UI a snappy feel
      // Call to the graphql mutation
      this.$q.loading.show({
        delay: 4 // ms
      })
      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.LOGIN_MUTATION,
        // Parameters
        variables: {
          email: creds.email,
          password: creds.password
        }
      }).then((data) => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'success',
          position: 'top',
          color: 'positive'
        })
        // console.log('data')
        // console.log(data)
        // console.log('user')
        // console.log(data.data.loginUser.user)
        // commit mutation and save to ls
        this.login(data)
        this.$router.push({name: 'home'})
      }).catch((error) => {
        this.$q.loading.hide()
        // Error
        console.error(error)
        // We restore the initial user input
        this.$q.notify({
          message: error.message,
          position: 'top'
        })
        this.credentials = creds
      })
    }
  }
}
</script>

<style>
</style>
