<template>
  <q-page padding>
    <div class="row justify-around" v-if="list && list.length">
      <WeekChart :logs="list"/>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <q-list highlight separator style="width: 80vw">
        <q-list-header>Logs</q-list-header>
        <q-item v-for="log in list" :key="log.id">
          <q-item-side :icon="getStatusIcon(log.kind)">
          </q-item-side>
          <q-item-main
          >
            <span style="font-size: 10px;">{{log.type}} - {{log.kind}}</span> <span> - {{log.comment.length}}</span>
            <q-scroll-area style="height: 150px;">
              <div class="LogComment-Small" v-html="log.comment"></div>
            </q-scroll-area>
          </q-item-main>
          <q-item-side right :stamp="humanDate(log.time)">
            <q-btn icon="visibility" size="md"  round color="primary" @click="select(log)"/>
            <q-btn icon="create" size="sm" dense round color="warning" @click="openEdit(log)"/>
            <q-btn icon="delete" size="sm" dense round color="negative" @click="removeLog(log)"/>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
    <q-modal v-model="selected" v-if="selected">
        <h4>{{selected.type}} - {{selected.kind}}</h4>
        <div class="row">
          <div class="col-12">
            <div v-html="selected.comment"></div>
          </div>
        </div>
        <q-btn
          color="primary"
          @click="selected = null"
          label="Close"
        />
      </q-modal>
  </q-page>
</template>

<script>
  import {USER_LOGS} from '../plugins/data/provider/DataModels/Logs/queries'
  import AbstractRefetchable from '../components/AbstractRefetchable'
  import WeekChart from '../components/WeekChart'
  import LogsTable from '../components/LogsTable'

  export default {
    name: 'LogsPage',
    components: {LogsTable, WeekChart},
    extends: AbstractRefetchable,
    data () {
      return {
        list: null,
        selected: null
      }
    },
    computed: {
      isSelected () {
        return this.selected !== null
      }
    },
    methods: {
      refetchList () {
        console.log('refetching logs')
        this.$apollo.queries.list.refetch()
      },
      openEdit (log) {
        this.$store.commit('logs/openEdit', log)
      },
      removeLog (log) {
        this.$q.dialog({
          title: 'Confirm delete',
          message: 'want to delete log ?',
          ok: 'delete',
          cancel: 'no'
        }).then(() => {
          this.$q.notify('deleteng!')
          this.$store.dispatch('logs/remove', log)
          this.$root.$emit('refetch_list')
        }).catch(() => {
          this.$q.notify('keep...')
        })
      },
      select (log) {
        this.selected = log
      }
    },
    apollo: {
      list: {
        query: USER_LOGS,
        variables () {
          return {
            id: this.userId
          }
        },
        update (data) {
          console.log(data)
          return data.User.logs
        }
      }
    }
  }
</script>
<style>
  .LogComment-Small {
    background: #ededed;
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 10px;
    border: 1px #ccc solid;
  }
</style>
