<template>
  <q-page padding>
    <div class="row">
      <div class="col-12">
        <q-btn
          icon="create"
          label="New item"
          @click="fetchMemes"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <q-card
          v-for="(meme, index) in mems"
          :key="index"
        >
          <q-card-title>
            id: {{meme.id}}
          </q-card-title>
          <q-card-separator/>
          <q-card-main>
            <img
              :src="meme.url"
              alt=""
              class="Image"
            >
          </q-card-main>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
  import gql from 'graphql-tag'

  export default {
    name: 'MemesPage',
    data () {
      return {
        memes: [],
        mems: null
      }
    },
    components: {},
    computed: {},
    methods: {
      fetchMemes () {
        this.updateMemes(this.getMemes())
      },
      updateMemes (memes) {
        this.memes = memes
      }
    },
    apollo: {
      // Advanced query with parameters
      // The 'variables' method is watched by vue
      mems: {
        query: gql`query getMemes {
  getMemes {
    id
    url
    channels
  }
}`,
        update (data) {
          console.log('dd')
          console.log(data)
          return data.getMemes
        }
      }
    }
  }
</script>

<style lang="scss">
  .Image {
    max-height: 600px;
    max-width: 600px;
  }
</style>
