<template>
  <q-page class="row justify-center items-center">
    <form class="col-6">
      <q-card>
        <q-card-title>
          Register
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <q-field icon="face" class="q-ma-md">
            <q-input v-model="credentials.name" autocomplete="off" placeholder="Your name" class="full-width" />
          </q-field>
          <q-field icon="face" class="q-ma-md">
            <q-input v-model="credentials.email" autocomplete="off" placeholder="Your email" class="full-width" />
          </q-field>
          <q-field icon="vpn_key" class="q-ma-md">
            <q-input v-model="credentials.password" autocomplete="off" type="password" placeholder="Your password" class="full-width" />
          </q-field>
          <q-btn color="primary" class="full-width q-ma-md" @click="submit">Register</q-btn>
        </q-card-main>
      </q-card>
    </form>
  </q-page>
</template>

<script>
export default {
  name: 'RegisterPage',
  data () {
    return {
      credentials: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      // We save the user input in case of an error
      const creds = this.credentials
      // We clear it early to give the UI a snappy feel
      this.credentials = ''
      // Call to the graphql mutation
      this.$apollo.mutate({
        // Query
        mutation: this.$graphql.REGISTER_MUTATION,
        // Parameters
        variables: {
          name: creds.name,
          email: creds.email,
          password: creds.password
        }
      }).then((data) => {
        // redirect to login page
        this.$router.replace('/login')
      }).catch((error) => {
        // Error
        console.error(error)
        // We restore the initial user input
        this.$q.notify({
          message: error.message,
          position: 'top'
        })
        this.credentials = creds
      })
    }
  }
}
</script>

<style>
</style>
