<template>
  <q-page padding>
    <div class="">
      <Trash/>
    </div>
  </q-page>
</template>

<script>
import Trash from '../components/trash/Trash'
import BlocksList from '../components/BlocksList'
import CategoriesList from '../components/CategoriesList'
export default {
  components: {CategoriesList, BlocksList, Trash},
  computed: {}
}
</script>

<style>
</style>
