<template>
  <q-page >
    <q-btn color="primary" @click="$router.push({name: 'checklists'})" icon="arrow_back" label="Back to list" class="q-ma-md"/>
    <q-card v-if="checklist">
      <q-card-title>
        <q-btn round dense color="blue-7" icon="ballot" v-if="checklist.type === 0">
        </q-btn>
        <q-btn round dense color="red-7" icon="directions_run" v-if="checklist.type === 1">
        </q-btn>
        {{checklist.name}}
      </q-card-title>
      <q-card-separator/>
      <q-card-main>
        <div class="desc" v-if="(checklist.description && checklist.description.length)">
          {{checklist.description}}
        </div>
        <div v-else>No description</div>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="canHaveFilters(checklist)">
        <FiltersBadges :entity="checklist"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main>
        <ChecklistChildrenList :entity="checklist" />
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
  import ChecklistChildrenList from '../components/EntityFullView/ChildrenLists/ChecklistChildrenList'
  import FiltersBadges from '../components/EntityFullView/FiltersBadges'
  import {GET_CHECKLIST_BY_ID} from '../plugins/data/provider/DataModels/Checklists/queries'
  export default {
    // name: 'PageName',
    data () {
      return {
        checklist: null
      }
    },
    computed: {
      checklistId () {
        return this.$route.params.id
      }
    },
    // Apollo-specific options
    apollo: {
      // Advanced query with parameters
      // The 'variables' method is watched by vue
      checklist: {
        query: GET_CHECKLIST_BY_ID,
        // Reactive parameters
        variables () {
          // Use vue reactive properties here
          return {
            id: this.$route.params.id
          }
        },
        update (data) {
          console.log(data)
          // The returned value will update
          // the vue property 'pingMessage'
          return data.Checklist
        },
        // Optional result hook
        result ({data, loading, networkStatus}) {
          console.log('We got some result!')
        },
        // Error handling
        error (error) {
          console.error('We\'ve got an error!', error)
        },
        // watchLoading will be called whenever the loading state changes
        watchLoading (isLoading, countModifier) {
          // isLoading is a boolean
          // countModifier is either 1 or -1
        }
      }
    },
    created () {
      this.$root.$on('refetch_list', () => {
        console.log('refetch checklist')
        this.$apollo.queries.checklist.refetch()
      })
    },
    destroyed () {
      this.$root.$off('refetch_list')
    },
    components: {FiltersBadges, ChecklistChildrenList}
  }
</script>

<style>
</style>
