<template>
  <div class="EntitiesTimeLine flex justify-between">
    <div
      class="row"
      style="width: 100%"
    >
      <div class="col-12">
        <timeline
          ref="timeline"
          :items="factoryItems"
          :groups="groups"
          :options="options"
          @select="selectItem"
        >
        </timeline>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-new */

  import EntityListMixin from '../EntityListMixin'
  import Timeline from 'vue2vis/src/components/Timeline'
  import {goalFilter, makeGroup, makeLog, makeTaskItem} from './timelineUtils'
  import {getEntityIcon} from '../../plugins/variables'

  export default {
    name: 'EntitiesTimeLine',
    components: {
      'timeline': Timeline
    },
    mixins: [EntityListMixin],
    data () {
      return {
        groups: [{
          id: 0,
          content: '1'
        }],
        items: [{
          id: 0,
          group: 0,
          start: new Date(),
          content: 'Now'
        }],
        options: {
          height: 450,
          editable: false,
          timeAxis: {scale: 'day', step: 1}
        }
      }
    },
    computed: {
      selectedItems () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Step' ||
              entity.__typename === 'Log' ||
              entity.__typename === 'Task' ||
              entity.__typename === 'Goal'
          })
      },
      selectedTasks () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Task'
          })
      },
      factoryTasks () {
        return this.selectedTasks
          .map(makeTaskItem)
      },
      factoryItems () {
        return []
          .concat(this.items)
          .concat(this.factorySteps)
          .concat(this.factoryTasks)
          .concat(this.factoryGoals)
          .concat(this.factoryLogs)
      },
      factoryGoals () {
        return this.selectedGroups
          .map(makeGroup)
      },
      factorySteps () {
        let steps = []
        this.selectedGroups
          .map((entity, index) => {
            // let id = index + 1
            entity.steps.forEach((step, indexStep) => {
              console.log(`index step ${indexStep}, for goal ${index}`)
              steps.push({
                id: step.id,
                group: 0,
                name: step.name,
                start: Date.parse(step.start),
                end: Date.parse(step.end),
                content: `<i aria-hidden="true" class="q-icon material-icons" style="font-size: 14px;">${getEntityIcon({__typename: 'Step'})}</i> ${step.name}`,
                className: `st${step.status}`,
                __entity: step
              })
            })
          })
        return steps
      },
      selectedGroups () {
        return this.filteredList
          .filter(goalFilter)
      },
      selectedLogs () {
        return this.filteredList
          .filter(entity => {
            return entity.__typename === 'Log'
          })
      },
      factoryLogs () {
        return this.selectedLogs
          .map(makeLog)
      }
    },
    methods: {
      selectItem (item, test) {
        console.log('sss')
        console.log(item)
        console.log(test)
        let selectedItem = this.list.find(entity => {
          console.log('hmmm')
          console.log(entity.id)
          console.log(item.items[0])
          console.log(entity.id === item.items[0])
          return entity.id === item.items[0]
        })
        if (selectedItem && selectedItem.__typename) {
          console.log('open')
          console.log(selectedItem.__typename)
          this.$store.dispatch('entity/openViewForm', selectedItem)
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "~vue2vis/dist/vue2vis.css";

  .EntitiesTimeLine {
  }
  .stPending {
    background-color: #005cff;
    color: white !important;
  }
  .stFailed {
    background-color: lightcoral;
  }
  .stComplete {
    background-color: lightgreen;
  }
  .stCanceled {
    background-color: lightgray;
  }
  .stWorking {
    background-color: mediumpurple;
  }

  .GanttChart {
    background-color: lightgrey;
    width: 500px;
  }

  .details-container {
    width: auto;
    background-color: darkgray;
    color: black;
    min-width: 300px;
  }
  .vis-sunday {
    background: lightgreen;
  }
  .vis-saturday {
    background: lightblue;
  }

  .vis-day1 {
    background: mediumpurple;
  }

  .vis-item._ltEntity {
    /*border: 1px black solid;*/
    padding: 0;
    display: block;

    .vis-item-content {
      display: block;
      padding: 0;
      /*font-size: 12px;*/
      /*line-height: 15px;*/
    }
    .vis-entity {
      height: 35px;
      background: white;
      color: black;
      font-size: 14px;
      display: block;
      float: left;
      width: 100%;
      overflow: hidden;
    }
  }
</style>
