<template>
  <div class="BlocksList">
    <div class="row" v-if="selectedBlock">
      <div class="col-12">
        <BlockCard :block="selectedBlock"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="BlocksList-grid">
          <div class="grid-container">
            <div
              class="item shadow-3"
              v-for="block in blocks"
              :key="block.id"
              :style="getStyle(block)"
              @click="selectBlock(block)"
            >
              {{block.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import EntityCard from './EntityCard'
  import BlockCard from './BlockCard'
  import {stuff} from '../plugins/graphql'

  export default {
    name: 'BlocksList',
    components: {BlockCard, EntityCard},
    data () {
      return {
        selectedBlock: null
      }
    },
    methods: {
      getStyle (block) {
        return {
          'grid-row-start': Number(block.start + 1),
          'grid-row-end': block.end + 1
        }
      },
      selectBlock (block) {
        this.selectedBlock = block
      }
    },
    apollo: {
      blocks: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          this.selectedBlock = null
          return user.blocks
        }
      }
    }
  }
</script>

<style lang="scss">
  .BlocksList {
    width: 89vw;
    .BlocksList-grid {
      margin-top: 10px;
      display: block;
      float: left;
    }
    .grid-container {
      border: 1px red dashed;
      display: grid;
      grid-gap: 13px;
      grid-template-rows: repeat(25, 1fr);

    }
    .item {
      background-color: #c8fff1;
      font-size: 12px;
    }
  }
</style>
