<template>
  <div
    class="CategoryCard"
    v-if="category"
  >
    <q-card>
      <q-card-title>
        {{category.name}}
      </q-card-title>
      <q-card-separator/>
      <q-card-main>
        {{category.description}}
      </q-card-main>
      <q-card-separator/>
      <q-collapsible
        :icon="$variables.getEntityIcon('Task')"
        :label="`Tasks: (${category.tasks.length})`"
      >
        <div class="flex">
          <EntityCard
            v-for="(task, index) in category.tasks"
            :key="index"
            :entity="task"
          />
        </div>
      </q-collapsible>
      <q-card-separator/>
      <q-collapsible
        :icon="$variables.getEntityIcon('Goal')"
        :label="`Goals: (${category.goals.length})`"
      >
        <div class="flex">
          <GoalCard
            v-for="(goal, index) in category.goals"
            :key="index"
            :goal="goal"
          />
        </div>
      </q-collapsible>
      <q-card-separator/>
      <q-collapsible
        :icon="$variables.getEntityIcon('Checklist')"
        :label="`Checklists: (${category.checklists.length})`"
      >
        <div class="flex">
          <EntityCard
            v-for="(checklist, index) in category.checklists"
            :key="index"
            :entity="checklist"
          />
        </div>
      </q-collapsible>
      <q-card-separator/>
      <q-card-main>
        <div class="q-my-sm">
          <q-btn icon="zoom_out_map" color="primary" @click="openFilterDetails(category)" />
          <q-btn icon="visibility" @click="toggle(category)" :color="getStateColor(category.state)" />
          <q-btn color="amber-8" @click="edit(category)" icon="create"  />
          <q-btn icon="delete" @click="remove(category)" color="red-8" />
        </div>
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
  import gql from 'graphql-tag'

  import EntityCard from './EntityCard'
  import GoalCard from './GoalCard'

  export default {
    name: 'CategoryCard',
    components: {GoalCard, EntityCard},
    props: ['category'],
    methods: {
      edit (filter) {
        filter = {...filter}
        filter.__formType = 'edit'
        this.$store.dispatch('filters/edit', filter)
      },
      remove (filter) {
        this.$store.dispatch('filters/remove', filter)
        this.$root.$emit('refetch_filters')
        this.$root.$emit('refetch_categories')
      },
      toggle (filter) {
        let newState = 'Ignored'
        if (filter.state === 'Included') {
          newState = 'Excluded'
        } else if (filter.state === 'Excluded') {
          newState = 'Ignored'
        } else {
          newState = 'Included'
        }
        // We save the user input in case of an error
        // We clear it early to give the UI a snappy feel
        // Call to the graphql mutation
        this.loading = true
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation ($state: State, $id: ID!) {
              update${filter.__typename}(state: $state, id: $id) {
                id
              }
            }`,
          // Parameters
          variables: {
            state: newState,
            id: filter.id
          }
        }).then((data) => {
          // Result
          console.log(data)
          console.log('start refetching')
          this.$root.$emit('refetch_filters')
          this.$root.$emit('refetch_categories')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      },
      getStateColor (state) {
        let color = 'yellow-6'
        if (state === 'Included') {
          color = 'green-6'
        } else if (state === 'Excluded') {
          color = 'red-6'
        } else {
          color = 'light'
        }
        return color
      },
      openFilterDetails (filter) {
        console.log(filter)
        this.$router.push({name: 'FilterDetailsPage', params: {id: filter.id, type: filter.__typename}})
      }
    }
  }
</script>

<style lang="scss">
  .CategoryCard {
  }
</style>
