<template>
  <div class="CategoriesList">
    <div
      class="row"
      v-if="categories && $apolloData.loading === 0"
    >
      <div class="col-12">
        <CategoriesChart
          :categories="categories"
          :radius="3"
          label-size="12"
          @categoryClicked="selectCategory"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import {stuff} from '../plugins/graphql'
  import CategoriesChart from './CategoriesChart'
  import CategoryCard from './CategoryCard'

  export default {
    name: 'CategoriesListToggle',
    components: {CategoryCard, CategoriesChart},
    data () {
      return {
        categories: []
      }
    },
    computed: {},
    methods: {
      selectCategory (cat) {
        this.toggle(cat)
      },
      toggle (filter) {
        let newState = 'Ignored'
        if (filter.state === 'Included') {
          newState = 'Excluded'
        } else if (filter.state === 'Excluded') {
          newState = 'Ignored'
        } else {
          newState = 'Included'
        }
        // We save the user input in case of an error
        // We clear it early to give the UI a snappy feel
        // Call to the graphql mutation
        this.loading = true
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation ($state: State, $id: ID!) {
              update${filter.__typename}(state: $state, id: $id) {
                id
              }
            }`,
          // Parameters
          variables: {
            state: newState,
            id: filter.id
          }
        }).then((data) => {
          // Result
          console.log(data)
          console.log('start refetching')
          this.$root.$emit('refetch_filters')
          this.$root.$emit('refetch_categories')
          this.$root.$emit('refetch_list')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      }
    },
    apollo: {
      categories: {
        query: stuff.CATEGORIES_LIST,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          return user.categories
        }
      }
    },
    mounted () {
      this.$root.$on('refetch_categories', () => {
        if (this.$apollo.queries.categories) {
          this.$apollo.queries.categories.refetch()
        }
      })
    },
    destroyed () {
      this.$root.$off('refetch_categories', () => {
        this.$apollo.queries.categories.refetch()
      })
    }

  }
</script>

<style lang="scss">
  .CategoriesList {
    .CategoriesCircles {
      /*height: 400px;*/
      /*width: 400px;*/
      /*display: block;*/
      /*float: left;*/
      border: 1px solid #000;
    }
  }
</style>
