<script>
  var datalabels = require('chartjs-plugin-datalabels')
  import {Bubble} from 'vue-chartjs'

  export default {
    name: 'CategoriesChart',
    extends: Bubble,
    props: {
      categories: {
        required: true
      },
      radius: {
        required: false,
        default: 6
      },
      labelSize: {
        required: false,
        default: '16'
      }
    },
    data () {
      return {
        datalabels,
        options: {
          scales: {
            xAxes: [{
              display: false,
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              ticks: {
                min: -1,
                max: this.categories.length
              },
              display: false,
              gridLines: {
                display: false
              }
            }]
          },
          events: ['click'],
          legend: {
            display: false
          },
          onClick: this.categoryClick,
          tooltips: {
            callbacks: {
              label: this.getName
            }
          }
        }
      }
    },
    computed: {
      preparedCategories () {
        let categoriesColors = this.categories.map(cat => {
          return this.getCategoryColor(cat)
        })
        return {
          datasets: [
            {
              label: 'Childs',
              datalabels: {
                color: 'black',
                font: {
                  size: this.labelSize
                },
                formatter: this.getCategoryLabel,
                anchor: 'center',
                align: 'right'
              },
              backgroundColor: categoriesColors,
              data: this.categories.map((category, index) => {
                return {
                  x: 1,
                  y: index,
                  r: this.calculateCategoryRadius(category)
                }
              })
            }
          ]
        }
      }
    },
    methods: {
      getName (tooltipItem) {
        let cat = this.categories[tooltipItem.index]
        return `${cat.name}: tasks(${cat.tasks.length}), goals(${cat.goals.length}), checklists(${cat.checklists.length})`
      },
      categoryClick (event, elements) {
        if (elements.length) {
          this.$emit('categoryClicked', this.categories[elements[0]._index])
        }
      },
      getCategoryLabel (value, context) {
        return `${this.categories[context.dataIndex].name} ( ${this.childSum(this.categories[context.dataIndex])} )`
      },
      getCategoryColor (category) {
        if (category.state === 'Ignored') {
          return '#79cee3'
        }
        if (category.state === 'Excluded') {
          return 'red'
        }
        return 'green'
      },
      calculateCategoryRadius (category) {
        return (5 + this.childSum(category)) * this.radius
      },
      childSum (category) {
        return category.tasks.length + category.goals.length + category.checklists.length
      }
    },
    mounted () {
      this.renderChart(this.preparedCategories, this.options)
    }
  }
</script>

<style lang="scss">
  .CategoriesChart {
  }
</style>
