<template>
  <div class="CategoriesList">
    <div
      class="row"
      v-if="categories && $apolloData.loading === 0"
    >
      <div class="col-12">
        <CategoriesChart
          :categories="categories"
          :radius="3"
          label-size="12"
          @categoryClicked="selectCategory"
        />
      </div>
    </div>
    <div class="row" v-if="selectedCategory">
      <div class="col-12">
        <CategoryCard :category="selectedCategory"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {stuff} from '../plugins/graphql'
  import CategoriesChart from './CategoriesChart'
  import CategoryCard from './CategoryCard'

  export default {
    name: 'CategoriesList',
    components: {CategoryCard, CategoriesChart},
    data () {
      return {
        selectedCategory: null,
        categories: []
      }
    },
    computed: {},
    methods: {
      selectCategory (cat) {
        this.selectedCategory = cat
      }
    },
    apollo: {
      categories: {
        query: stuff.CATEGORIES_LIST,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          this.selectedCategory = null
          return user.categories
        }
      }
    },
    mounted () {
      this.$root.$on('refetch_categories', () => {
        if (this.$apollo.queries.categories) {
          this.$apollo.queries.categories.refetch()
        }
      })
    },
    destroyed () {
      this.$root.$off('refetch_categories', () => {
        if (this.$apollo.queries.categories) {
          this.$apollo.queries.categories.refetch()
        }
      })
    }

  }
</script>

<style lang="scss">
  .CategoriesList {
    .CategoriesCircles {
      /*height: 400px;*/
      /*width: 400px;*/
      /*display: block;*/
      /*float: left;*/
      border: 1px solid #000;
    }
  }
</style>
