<script>
  import { Pie } from 'vue-chartjs'
  import {CANCELLED, COMPLETE, FAILED, PENDING, WORKING} from '../plugins/variables'

  export default {
    name: 'ChecklistChart',
    props: ['checklist'],
    extends: Pie,
    computed: {
      chartData () {
        return {
          labels: [PENDING, WORKING, COMPLETE, FAILED, CANCELLED],
          datasets: [
            {
              data: [
                this.checklist.points.filter(point => (point.status === PENDING)).length,
                this.checklist.points.filter(point => (point.status === WORKING)).length,
                this.checklist.points.filter(point => (point.status === COMPLETE)).length,
                this.checklist.points.filter(point => (point.status === FAILED)).length,
                this.checklist.points.filter(point => (point.status === CANCELLED)).length
              ],
              backgroundColor: [
                '#2196f3',
                '#78909c',
                '#4caf50',
                '#f44336',
                '#9e9e9e'
              ]
            }
          ]
        }
      }
    },
    mounted () {
      this.renderChart(this.chartData)
    }
  }
</script>

<style lang="scss">
  .ChecklistChart {
  }
</style>
