<template>
  <div class="Checklist">
    <q-card class="q-my-lg" inline style="width: 320px">
      <q-card-title>
        <q-btn round dense color="blue-7" icon="ballot" v-if="entity.type === 0">
        </q-btn>
        <q-btn round dense color="red-7" icon="directions_run" v-if="entity.type === 1">
        </q-btn>
        {{entity.name}}
        <div slot="right" class="row items-center">
          <q-chip round color="green-5">{{ entity.points.length }}</q-chip>
        </div>
      </q-card-title>
      <q-card-separator/>
      <q-card-main v-if="(entity.description && entity.description.length) ">
        {{entity.description}}
      </q-card-main>
      <q-card-separator/>
      <q-collapsible
        icon="explore"
        :opened="true"
        label="Chart"
        v-if="entity.points.length && entity.type === 1"
      >
        <div>
          <ChecklistChart :checklist="entity" />
        </div>
      </q-collapsible>
      <q-card-separator/>
      <q-card-main v-if="canHaveFilters(entity)">
        <FiltersBadges :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-actions align="end">
        <div class="actions">
          <q-btn color="green-6" @click="startChecklist" icon="send" v-if="entity.type === 0"/>
          <q-btn color="blue-6" @click="viewEntity(entity.id)" icon="visibility"/>
          <q-btn color="red-4" @click="removeEntity" icon="delete_forever"/>
        </div>
      </q-card-actions>
      <q-card-actions align="end">
        <EntityActions :entity="entity"/>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
  import FiltersBadges from '../components/EntityFullView/FiltersBadges'
  import EntityActions from './EntityActions'
  import EntityIcon from './EntityIcon'
  import Checklists from '../plugins/data/provider/DataModels/Checklists'
  import ChecklistChart from './ChecklistChart'

  export default {
    name: 'ChecklistCard',
    components: {ChecklistChart, EntityIcon, EntityActions, FiltersBadges},
    props: {
      entity: {}
    },
    data () {
      return {
      }
    },
    computed: {
      entityIcon () {
        return this.$variables.getEntityIcon(this.entity)
      }
    },
    methods: {
      viewEntity (id) {
        this.$router.push({name: 'viewChecklist', params: {id: id}})
      },
      removeEntity () {
        this.$store.dispatch('entity/remove', this.entity)
      },
      startChecklist (id) {
        Checklists.startChecklist(this.entity)
          .then(res => {
            this.$store.commit('entity/closeForm')
          })
      }
    }
  }
</script>
