<template>
  <div class="CheckboxSelect">
    <q-checkbox
      v-model="array"
      :val="filter.id"
      :label="filter.name"
      v-for="filter in options"
      :key="filter.id"
    />
  </div>
</template>

<script>
  export default {
    name: 'CheckboxSelect',
    props: {
      value: {required: true},
      options: {required: true}
    },
    data () {
      return {
        copy: null
      }
    },
    computed: {
      array: {
        get () {
          if (!this.value) {
            return []
          }
          return this.value
            .map(f => f.id)
        },
        set (val) {
          this.$emit(
            'input',
            val.map(id => this.options.find(v => (v.id === id)))
          )
        }
      }
    }
  }
</script>
