<template>
  <div class="CreateEntity">
    <q-modal v-model="openedForm" maximized>
      <EntityFormCard  :entity="entity" type="create" />
    </q-modal>
  </div>
</template>

<script>
  import EntityFormCard from './EntityFormCard'

  export default {
    components: {EntityFormCard},
    data () {
      return {
        entity: {}
      }
    },
    getters: {
      createFormOpen () {
        return this.$store.getters['entity/createFormOpen']
      }
    },
    computed: {
      openedForm: {
        get () {
          return this.$store.getters['entity/formOpen']
        },
        set (v) {
          if (v === false) {
            this.$store.dispatch('entity/closeForm')
          }
        }
      }
    },
    mounted () {
      this.entity = {...this.$store.state.entity.editableEntity}
    }
  }
</script>
