<template>
  <div class="CreateEntity">
    <q-modal v-model="openedForm" maximized v-if="entity.__typename">
      <q-card class="q-ma-xs">
        <q-card-title>
          Edit {{entity.__typename}}: "{{entity.name}}"
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <EntityFields :entity="entity"/>
        </q-card-main>
        <q-card-separator />
        <q-card-actions align="end">
          <q-btn
            color="secondary"
            @click="updateEntity"
            label="Update"
          />
          <q-btn
            color="primary"
            @click="openedForm = false"
            label="Close"
          />
        </q-card-actions>
      </q-card>

    </q-modal>
  </div>
</template>

<script>
  import EntityFields from './EntityFields/EntityFields'

  export default {
    components: {EntityFields},
    data () {
      return {
        entity: {}
      }
    },
    methods: {
      closeForm () {
        this.$store.dispatch('entity/closeForm')
      },
      updateEntity () {
        this.$store.dispatch('entity/updateEntity', this.entity)
      }
    },
    computed: {
      openedForm: {
        get () {
          return this.$store.getters['entity/editFormOpen']
        },
        set (v) {
          if (v === false) {
            this.closeForm()
          }
        }
      }
    },
    mounted () {
      this.entity = {...this.$store.state.entity.editableEntity}
    }
  }
</script>
