<template>
  <q-chip round dense color="green-4" :icon="entityIcon">{{ entity.__typename }}</q-chip>
</template>
<script>
  export default {
    name: 'EntityIcon',
    props: {
      entity: {}
    },
    computed: {
      entityIcon () {
        return this.$variables.getEntityIcon(this.entity)
      }
    }
  }
</script>
