<template>
  <div class="actions">
    <q-btn-dropdown dense color="orange-7" label="Actions">
      <q-list link dense>
        <q-item>
          <q-item-main v-close-overlay>
            <q-item-main>
              <q-item-tile label>
                <q-btn color="blue-6" @click="viewEntity" icon="visibility"/>
              </q-item-tile>
            </q-item-main>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-main v-close-overlay>
            <q-item-main>
              <q-item-tile label>
                <q-btn color="amber-10" @click="editEntity" icon="create"/>
              </q-item-tile>
            </q-item-main>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-main v-close-overlay>
            <q-item-main>
              <q-item-tile label>
                <q-btn color="red-10" @click="removeEntity" icon="delete_forever"/>
              </q-item-tile>
            </q-item-main>
          </q-item-main>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>
<script>
  export default {
    name: 'EntityActions',
    props: {
      entity: {}
    },
    methods: {
      removeEntity () {
        this.$store.dispatch('entity/remove', this.entity)
      },
      editEntity () {
        this.$store.dispatch('entity/openEditForm', this.entity)
      },
      viewEntity () {
        this.$store.dispatch('entity/openViewForm', this.entity)
      }
    }
  }
</script>
