<template>
  <q-card class="q-ma-sm">
    <q-card-title>
      {{title}} {{entity.__typename}}
    </q-card-title>
    <q-card-separator/>
    <q-card-main>
      <EntityFields :entity="entity"/>
    </q-card-main>
    <q-card-separator/>
    <q-card-actions align="end">
      <q-btn
        color="secondary"
        @click="createEntity"
        label="Create"
        v-if="type === 'create'"
      />
      <q-btn
        color="secondary"
        @click="updateEntity"
        label="Update"
        v-if="type === 'edit'"
      />
      <q-btn
        color="primary"
        @click="closeForm"
        label="Close"
      />
    </q-card-actions>
  </q-card>
</template>
<script>
  import EntityFields from './EntityFields/EntityFields'

  export default {
    name: 'EntitFormCard',
    components: {EntityFields},
    props: {
      entity: {},
      type: {
        type: String,
        required: true
      },
      noClose: {
        type: Boolean,
        required: false,
        default: false
      }
    },
    methods: {
      closeForm () {
        if (this.noClose) {
          this.$emit('close')
        } else {
          this.$store.dispatch('entity/closeForm')
        }
      },
      createEntity () {
        if (this.noClose) {
          this.entity.__noClose = true
          this.$emit('close')
        }
        this.$store.dispatch('entity/createEntity', this.entity)
      },
      updateEntity () {
        if (this.noClose) {
          this.entity.__noClose = true
          this.$emit('close')
        }
        this.$store.dispatch('entity/updateEntity', this.entity)
      }
    },
    computed: {
      title () {
        if (this.type === 'create') {
          return this.type
        } else if (this.type === 'edit') {
          return this.type + ' ' + this.entity.__typename + ': ' + this.entity.name
        } else {
          return 'XXXXXXXX'
        }
      }
    }
  }
</script>
