<template>
  <div class="Table">
    <q-table
      :data="list"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
    >
      <q-td slot="body-cell-name" slot-scope="props" :props="props">
        <div class="EntityName">
          <p> {{props.row.name}}</p>
        </div>
      </q-td>
      <q-td slot="body-cell-actions" slot-scope="props" :props="props">
        <EntityActions :entity="props.row"/>
      </q-td>
      <q-td slot="body-cell-type" slot-scope="props" :props="props">
        <EntityIcon :entity="props.row"/>
      </q-td>
      <q-td slot="body-cell-status" slot-scope="props" :props="props">
        <Status :entity="props.row"/>
      </q-td>
    </q-table>
  </div>
</template>
<script>
  import EntityActions from './EntityActions'
  import EntityIcon from './EntityIcon'
  import Status from './EntityFullView/Status'
  export default {
    name: 'EntitiesTable',
    props: {
      list: {}
    },
    data () {
      return {
        columns: [
          {
            name: 'name',
            required: true,
            label: 'name',
            align: 'left',
            field: 'name',
            sortable: true
          },
          {
            name: 'status',
            required: true,
            label: 'status',
            align: 'left',
            field: 'status',
            sortable: true
          },
          {
            name: 'type',
            required: true,
            label: 'type',
            align: 'left',
            field: '__typename',
            sortable: true
          },
          // {
          //   name: 'description',
          //   required: true,
          //   label: 'description',
          //   align: 'left',
          //   field: 'description',
          //   sortable: true
          // },
          {
            name: 'actions',
            required: true,
            label: 'actions',
            align: 'right',
            field: 'actions',
            sortable: false
          }
        ],
        pagination: {
          descending: false,
          page: 1,
          rowsPerPage: 20 // current rows per page being displayed
        }
      }
    },
    components: {EntityActions, EntityIcon, Status}
  }
</script>
<style lang="stylus">
  .Table {
    .EntityName {
      max-width: 220px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
</style>
