<template>
  <div class="EntitiesCalendar">
    <Calendar
      event-ref="defaultCalendar"
      :prevent-event-detail="true"
      :eventArray="preparedEntities"
    />
  </div>
</template>
<script>
  import {Calendar} from 'quasar-calendar'
  export default {
    name: 'EntitiesCalendar',
    props: {
      list: {
        required: true,
        type: Array
      }
    },
    computed: {
      preparedEntities () {
        return this.list.map(event => {
          if (event.__typename === 'Log') {
            return {
              id: event.id,
              summary: event.kind + ': ' + event.comment.substring(0, 10),
              description: event.comment + ' ',
              start: {
                date: event.time
              },
              end: {
                date: event.time
              },
              color: this.getStatusColor(event.kind),
              entity: event
            }
          }
          return {
            id: event.id,
            summary: event.name + ': ' + event.__typename,
            description: event.description + ' ',
            start: {
              date: event.start
            },
            end: {
              date: event.end
            },
            color: this.getStatusColor(event.status),
            entity: event
          }
        })
      }
    },
    data () {
      return {
        events: [
          {
            id: 1,
            summary: 'Test event',
            description: 'Some extra info goes here',
            location: 'Office of the Divine Randomness, 1232 Main St., Denver, CO',
            start: {
              dateTime: '2018-06-07T18:43:29.057Z', // ISO 8601 formatted
              timeZone: 'America/New_York' // Timezone listed as a separate IANA code
            },
            end: {
              dateTime: '2018-06-08T18:43:29.057Z',
              timeZone: 'American/New_York'
            },
            color: 'positive',
            attendees: [
              {
                id: 5,
                email: 'somebody@somewhere.com',
                displayName: 'John Q. Public',
                organizer: false,
                self: false,
                resource: false
              }
            ]
          },
          {
            id: 2,
            summary: 'Test all-day event',
            description: 'Some extra info goes here',
            start: {
              date: '2018-06-16' // A date variable indicates an all-day event
            },
            end: {
              date: '2018-06-19'
            }
          },
          {
            id: 3,
            summary: 'Some other test event',
            description: 'Some extra info goes here',
            start: {
              dateTime: '2018-06-17T10:00:00+0500' // timezone embedded in dateTime
            },
            end: {
              dateTime: '2018-06-17T12:30:00+0500'
            }
          }
        ]
      }
    },
    created () {
      this.$root.$on('click-event-defaultCalendar', (event) => {
        console.log(event.entity.__typename)
        if (event.entity.__typename === 'Log') {
          console.log('ass')
          this.$store.commit('logs/openEdit', event.entity)
          return false
        }
        this.$store.dispatch('entity/openViewForm', event.entity)
      })
    },
    destroyed () {
      this.$root.$off('click-event-defaultCalendar')
    },
    components: {Calendar}
  }
</script>
<style>
  .calendar-event-empty-slot {
    background-color: white !important;
  }
</style>
