<template>
  <div class="Task">
    <q-card class="q-my-lg" inline style="max-width: 360px">
      <q-card-title>
        {{entity.name}}
        <div slot="right" class="row items-center">
          <EntityIcon :entity="entity"/>
        </div>
      </q-card-title>
      <q-card-separator/>
      <q-card-main v-if="canHaveDates(entity) && entity.start && entity.end">
        <EntityDatesDisplay :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="(entity.description && entity.description.length < 1000) ">
        <div class="DescriptionLength">
          {{entity.description}}
        </div>
      </q-card-main>
      <q-card-separator/>
      <q-card-main>
        <FiltersBadges :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="canHaveStatus(entity)" class="flex justify-between">
        <Status :entity="entity"/>
        <q-btn dense icon="visibility" text-color="blue-grey-9" color="blue-grey-2" label="Show parent" @click="showParent = !showParent"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-main v-if="isChild(entity) && showParent">
        <ParentLink :entity="entity"/>
      </q-card-main>
      <q-card-separator/>
      <q-card-actions align="end">
        <EntityActions :entity="entity"/>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
  import EntityActions from './EntityActions'
  import EntityIcon from './EntityIcon'
  import Status from './EntityFullView/Status'
  import EntityDatesDisplay from './EntityFullView/EntityDatesDisplay'
  import ParentLink from './ParentLink'
  import FiltersBadges from './EntityFullView/FiltersBadges'

  export default {
    name: 'EntityCard',
    components: {FiltersBadges, ParentLink, EntityDatesDisplay, Status, EntityIcon, EntityActions},
    props: {
      entity: {}
    },
    data () {
      return {
        showParent: false
      }
    },
    computed: {
      entityIcon () {
        return this.$variables.getEntityIcon(this.entity)
      }
    }
  }
</script>
<style>
  .DescriptionLength {
    overflow: scroll;
  }
</style>
