<template>
  <div class="FilterList q-pt-md">
    <q-card>
      <q-card-title>
        {{name}}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <div class="row q-my-md shadow-1 q-pa-sm bg-cyan-1" v-for="filter in list" :key="filter.id">
          <div class="col-xs-12 col-md-6">
            <span class="">{{filter.name}}</span><br>
            <span class="text-weight-thin">{{filter.description}}</span>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="q-my-sm">
              <q-btn icon="zoom_out_map" color="primary" @click="openFilterDetails(filter)" />
              <q-btn icon="visibility" @click="toggle(filter)" :color="getStateColor(filter.state)" />
              <q-btn color="amber-8" @click="edit(filter)" icon="create"  />
              <q-btn icon="delete" @click="remove(filter)" color="red-8" />
            </div>
          </div>
        </div>
      </q-card-main>
    </q-card>
  </div>
</template>
<script>
  import gql from 'graphql-tag'
  export default {
    name: 'FilterList',
    props: {
      list: {},
      name: {}
    },
    data () {
      return {
        loading: false
      }
    },
    methods: {
      edit (filter) {
        filter = {...filter}
        filter.__formType = 'edit'
        this.$store.dispatch('filters/edit', filter)
      },
      remove (filter) {
        this.$store.dispatch('filters/remove', filter)
        this.$root.$emit('refetch_filters')
      },
      toggle (filter) {
        let newState = 'Ignored'
        if (filter.state === 'Included') {
          newState = 'Excluded'
        } else if (filter.state === 'Excluded') {
          newState = 'Ignored'
        } else {
          newState = 'Included'
        }
        // We save the user input in case of an error
        // We clear it early to give the UI a snappy feel
        // Call to the graphql mutation
        this.loading = true
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation ($state: State, $id: ID!) {
              update${filter.__typename}(state: $state, id: $id) {
                id
              }
            }`,
          // Parameters
          variables: {
            state: newState,
            id: filter.id
          }
        }).then((data) => {
          // Result
          console.log(data)
          console.log('start refetching')
          this.$root.$emit('refetch_filters')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      },
      getStateColor (state) {
        let color = 'yellow-6'
        if (state === 'Included') {
          color = 'green-6'
        } else if (state === 'Excluded') {
          color = 'red-6'
        } else {
          color = 'light'
        }
        return color
      },
      openFilterDetails (filter) {
        console.log(filter)
        this.$router.push({name: 'FilterDetailsPage', params: {id: filter.id, type: filter.__typename}})
      }
    }
  }
</script>
