<template>
  <div class="FiltersToggle">
    <p>Toggle groupings</p>
    <q-btn
      :color="interGroupingColor"
      :label="interGroupingLabel"
      @click="toggleInterGrouping"
    />
    <q-checkbox v-model="excludeOnly" label="excludeOnly" />
    <q-btn
      @click="setAllInclude"
      color="green-3"
      label="Include all cats"
    />
    <q-btn
      @click="setAllExclude"
      color="red-3"
      label="Exclude all cats"
    />
    <q-btn
      @click="setAllIgnore"
      color="blue-3"
      label="Ignore all cats"
    />
    <q-field
      v-for="(grouping, index) in groupings"
      :key="index"
    >
      <q-toggle
        v-model="accountedGroupings"
        :label="grouping"
        :val="grouping"
      />
    </q-field>

  </div>
</template>

<script>
  import gql from 'graphql-tag'

  const groupings = [
    'Project',
    'Context',
    'Mood',
    'Category',
    'Block'
  ]
  export default {
    name: 'FiltersToggle',
    data () {
      return {
        groupings
      }
    },
    computed: {
      interGroupingColor () {
        if (this.$store.getters['filters/getInterGrouping'] === 'OR') {
          return 'orange-3'
        } else {
          return 'purple-3'
        }
      },
      interGroupingLabel () {
        if (this.$store.getters['filters/getInterGrouping'] === 'OR') {
          return 'OR'
        } else {
          return 'AND'
        }
      },
      accountedGroupings: {
        get () {
          return this.$store.state.filters.accountedGroupings
        },
        set (groupingsArray) {
          this.$store.commit('filters/setGroupings', groupingsArray)
        }
      },
      excludeOnly: {
        get () {
          return this.$store.state.filters.excludeOnly
        },
        set (val) {
          this.$root.$emit('refetch_list')
          this.$store.commit('filters/setExcludeOnly', val)
        }
      }
    },
    methods: {
      setAllCatsStatus (status) {
        // let catIds = []
        let rawIds = this.$apolloProvider.defaultClient.readQuery({
          query: gql`
            query {
              User (id: "${this.userId}") {
                ids: categories {
                  id
                }
              }
            }
          `
        })
        rawIds = rawIds.User.ids.map(category => {
          return category.id
        })
        let aliases = ``
        rawIds.forEach(id => {
          aliases += `${id}: updateCategory (state: ${status}, id: "${id}") {id}`
        })
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation {
              ${aliases}
            }`
          // Parameters
        }).then((data) => {
          // Result
          this.$root.$emit('refetch_list')
          this.$root.$emit('refetch_categories')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      },
      setAllExclude () {
        this.setAllCatsStatus('Excluded')
      },
      setAllInclude () {
        this.setAllCatsStatus('Included')
      },
      setAllIgnore () {
        this.setAllCatsStatus('Ignored')
      },
      toggleInterGrouping () {
        this.$store.commit('filters/toggleInterGrouping')
      }
    }
  }
</script>

<style lang="scss">
  .FiltersToggle {
    margin-bottom: 20px;
  }
</style>
