<template>
  <q-modal v-model="formOpen" @show="modalShow" @hide="modalHide" >
    <q-card style="min-width: 50vw" v-if="editableFilter">
      <q-card-title>
        {{editableFilter.__formType}} {{editableFilter.__typename}}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-field
          label="name"
          orientation="vertical"
        >
          <q-input v-model="editableFilter.name" />
        </q-field>
        <q-field
          label="description"
          orientation="vertical"
        >
          <q-input v-model="editableFilter.description" />
        </q-field>
        <div class="startEnd" v-if="editableFilter.__typename === 'Block'">
          <q-field
            label="Start"
            class="q-my-md"
          >
            <q-knob
              v-model="editableFilter.start"
              :min="0"
              :max="24"
              color="blue-8"
              :placeholder="'h ' + editableFilter.start"
            >
              start {{start}}
            </q-knob>
          </q-field>
          <q-field
            label="End"
            class="q-my-md"
          >
            <q-knob
              v-model="editableFilter.end"
              :min="0"
              :max="24"
              color="blue-8"
              :placeholder="'h ' + editableFilter.end"
            >
              end {{end}}
            </q-knob>
          </q-field>
        </div>
      </q-card-main>
      <q-card-separator />
      <q-card-actions>
        <q-btn
          color="primary"
          flat
          @click="formOpen = false"
          label="Close"
        />
        <q-btn color="primary" label="Update" @click="updateFilter" v-if="editableFilter.__formType === 'edit'"/>
        <q-btn color="primary" label="Create" @click="createFilter" v-if="editableFilter.__formType === 'create'"/>
      </q-card-actions>
    </q-card>
  </q-modal>
</template>
<script>
  export default {
    name: 'FilterModal',
    data () {
      return {
        user: {},
        editableFilter: null,
        t: null
      }
    },
    computed: {
      start: {
        get () {
          return this.editableFilter.start
        },
        set (value) {
          this.editableFilter.start = value
        }
      },
      end: {
        get () {
          return this.editableFilter.end
        },
        set (value) {
          this.editableFilter.end = value
        }
      },
      formOpen: {
        get () {
          return !!this.$store.getters['filters/editedFilter']
        },
        set (v) {
          if (!v) {
            this.editableFilter = null
            this.$store.dispatch('filters/cancel')
          }
        }
      }
    },
    methods: {
      modalShow () {
        this.editableFilter = {...this.$store.state.filters.editedFilter}
      },
      modalHide () {
        this.editableFilter = null
      },
      updateFilter () {
        this.$store.dispatch('filters/update', this.editableFilter)
        this.formOpen = false
        this.$root.$emit('refetch_filters')
      },
      createFilter () {
        this.$store.dispatch('filters/create', this.editableFilter)
        this.formOpen = false
        this.$root.$emit('refetch_filters')
      }
    }
  }
</script>
