<template>
  <div class="FusionCharts">
    <p>Fusion charts</p>
  </div>
</template>

<script>
  const schema = [{
    'name': 'Name',
    'type': 'string'
  }, {
    'name': 'Time',
    'type': 'date',
    'format': '%-m/%-d/%Y'
  }, {
    'name': 'Type',
    'type': 'string'
  }]
  export default {
    name: 'FusionCharts',
    props: ['list'],
    data () {
      return {
        schema: schema
      }
    },
    computed: {
      TLData () {
        return this.list.map(entity => {
          return {
            name: entity.name,
            time: entity.start,
            type: entity.__typename
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .FusionCharts {
  }
</style>
