<template>
  <q-card class="shadow-6 text-black" text-color="black" color="blue-grey-2" v-if="goal">
    <q-card-title>
      {{goal.name}}
      <span slot="subtitle" class="text-blue-grey-9" v-if="goal.description">{{goal.description}}</span>
      <div slot="right" class="row items-center text-blue-grey-9" v-if="goal.steps && goal.steps.length">
        {{goal.steps.length}} steps
      </div>
      <div slot="right" class="row items-center" v-else>
        <q-icon name="clear" class="text-red-9"/>
      </div>
    </q-card-title>
    <q-card-separator/>
    <q-card-main v-if="(goal.start || goal.end)">
      <span class="start shadow-1  q-pa-xs bg-blue-grey-6 text-blue-grey-1">
        <q-icon name="first_page" class="text-blue-grey-1"/> {{humanDate(goal.start)}}
      </span>
      <span class="end shadow-1 q-ml-md q-pa-xs bg-blue-grey-6 text-blue-grey-1">
        <q-icon name="last_page" class="text-blue-grey-1"/> {{humanDate(goal.end)}}
          <q-tooltip>Some tooltip</q-tooltip>
      </span>
      <q-btn
        icon="visibility"
        label="steps"
        dense
        size="sm"
        class="q-mx-xs"
        color="green-3"
        text-color="blue-grey-7"
        @click="openChildren = !openChildren"
      />
    </q-card-main>
    <q-card-separator/>
    <q-list separator v-if="goal.steps && goal.steps.length && openChildren">
      <q-collapsible
        icon="call_made"
        :label="step.name"
        header-class="bg-blue-grey-3"
        v-for="step in goal.steps"
        :key="step.id"
      >
        <template slot="header">
          <q-btn flat round dense size="sm" :color="getStatusColor(step.status)" :icon="getStatusIcon(step.status)"
                 class="q-mr-sm"/>
          <q-item-main :label="step.name"/>
          <q-item-side right>
            <span class="stepStart shadow-1  q-pa-xs bg-blue-grey-6 text-blue-grey-1">
              {{humanDate(step.start)}}
            </span>
            <span class="stepEnd shadow-1 q-ml-md q-pa-xs bg-blue-grey-6 text-blue-grey-1">
              {{humanDate(step.end)}}
              <q-tooltip>Some tooltip</q-tooltip>
            </span>
          </q-item-side>
        </template>
        <div>
          <div class=" q-my-sm">
            {{step.description}}
          </div>
          <Status :entity="step"/>
        </div>
      </q-collapsible>
    </q-list>
    <q-card-separator/>
    <q-card-main>
      <FiltersBadges :entity="goal"/>
    </q-card-main>
    <q-card-separator/>
    <q-card-actions align="end">
      <EntityActions :entity="goal"/>
    </q-card-actions>
  </q-card>
</template>
<script>
  import EntityActions from './EntityActions'
  import FiltersBadges from './EntityFullView/FiltersBadges'
  import Status from './EntityFullView/Status'

  export default {
    name: 'GoalCard',
    components: {EntityActions, FiltersBadges, Status},
    props: {
      goal: {}
    },
    data () {
      return {
        openChildren: false
      }
    }
  }
</script>
<style>
  .stepStart, .stepEnd {
    font-size: 10px;
  }
</style>
