<template>
  <div class="LogCard">
    <q-card>
      <q-card-title>
        <q-btn :icon="getStatusIcon(log.kind)" :color="getStatusColor(log.kind)" />
        {{log.kind}} ({{log.type}}: {{humanDate(log.time)}})
      </q-card-title>
      <q-card-separator/>
      <q-card-main v-if="log">
        <div v-html="log.comment"></div>
      </q-card-main>
      <q-card-separator/>
      <q-card-main>
      </q-card-main>
      <q-card-separator/>
      <q-card-main>
        <q-btn icon="create" round color="warning" @click="openEdit(log)"/>
        <q-btn icon="delete" round color="negative" @click="removeLog(log)"/>
      </q-card-main>
      <q-card-separator/>
    </q-card>
  </div>
</template>

<script>
  export default {
    name: 'LogCard',
    props: ['entity'],
    computed: {
      log () {
        return this.entity
      }
    },
    methods: {
      refetchList () {
        console.log('refetching logs')
        this.$apollo.queries.list.refetch()
      },
      openEdit (log) {
        this.$store.commit('logs/openEdit', log)
      },
      removeLog (log) {
        this.$store.dispatch('logs/remove', log)
        this.$root.$emit('refetch_list')
      }
    }
  }
</script>

<style lang="scss">
  .LogCard {
  }
</style>
