<template>
  <q-modal v-model="isLogsModalOpen" @show="setTime">
    <q-card style="min-width: 70vw">
      <q-card-title>
        {{modalType}} Log
      </q-card-title>
      <q-card-separator />
      <q-card-main v-if="log">
        <div v-html="comm"></div>
      </q-card-main>
      <q-card-separator />
      <q-card-main v-if="log">
        <q-editor v-model="comm"/>
        <q-field
          icon="cloud"
          label="type"
        >
          <q-select
            toggle
            v-model="log.type"
            :options="logTypes"
          />
        </q-field>
        <q-field
          icon="cloud"
          label="kind"
        >
          <q-select
            toggle
            v-model="log.kind"
            :options="logKinds"
          />
        </q-field>
        <q-field
          icon="cloud"
          label="time"
        >
          <q-datetime v-model="log.time" type="datetime" />
        </q-field>
        <q-btn icon="add" label="create Log" @click="createLog" v-if="modalType === 'create'"/>
        <q-btn icon="publish" label="update Log" @click="updateLog" v-if="modalType === 'edit'"/>
      </q-card-main>
    </q-card>
  </q-modal>
</template>
<script>
  export default {
    name: 'LogsModal',
    data () {
      return {
        log: null,
        comm: '',
        logTypes: [
          {
            label: 'Task',
            value: 'Task'
          },
          {
            label: 'Goal',
            value: 'Goal'
          },
          {
            label: 'Step',
            value: 'Step'
          },
          {
            label: 'Checklist',
            value: 'Checklist'
          },
          {
            label: 'Point',
            value: 'Point'
          }
        ],
        logKinds: [
          {
            label: 'Complete',
            value: 'Complete'
          },
          {
            label: 'Failed',
            value: 'Failed'
          },
          {
            label: 'Cancelled',
            value: 'Cancelled'
          }
        ]
      }
    },
    methods: {
      setTime () {
        this.log = {...this.$store.getters['logs/getEditedLog']}
        this.comm = this.log.comment
        if (this.modalType === 'create') {
          this.comm = ''
          this.log.time = Date.now()
        }
      },
      createLog () {
        this.log.comment = this.comm
        this.$store.dispatch('logs/add', this.log)
          .then(() => {
            this.$root.$emit('refetch_list')
          })
      },
      updateLog () {
        this.log.comment = this.comm
        this.$store.dispatch('logs/update', this.log)
          .then(() => {
            this.$root.$emit('refetch_list')
          })
      }
    },
    computed: {
      isLogsModalOpen: {
        get () {
          return this.$store.getters['logs/isLogsModalOpen']
        },
        set (v) {
          if (!v) {
            this.$store.commit('logs/closeModal')
          }
        }
      },
      modalType () {
        return this.$store.getters['logs/getModalType']
      }
    }
  }
</script>
