<template>
  <div class="LogsTable">
    <q-card v-for="(log, index) in list" :key="index">
      <q-card-title>
        Log
      </q-card-title>
      <q-card-separator />
      <q-collapsible
        icon="explore"
        label="First"
      >
        <div>
          Content
        </div>
      </q-collapsible>
      <q-card-separator />
      <q-card-main>
        Card Content
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
  import {USER_LOGS} from '../plugins/data/provider/DataModels/Logs/queries'

  export default {
    name: 'LogsTable',
    data () {
      return {
        columns: [
          {
            name: 'kind',
            required: true,
            label: 'kind',
            field: 'kind',
            sortable: true
          },
          {
            name: 'time',
            required: true,
            label: 'time',
            field: 'time',
            sortable: true
          },
          {
            name: 'time',
            required: true,
            label: 'time',
            field: 'time',
            sortable: true
          }

        ]
      }
    },
    apollo: {
      list: {
        query: USER_LOGS,
        variables () {
          return {
            id: this.userId
          }
        },
        update (data) {
          console.log(data)
          return data.User.logs
        }
      }
    }
  }
</script>

<style lang="scss">
  .LogsTable {
  }
</style>
