<template>
  <q-list
    no-border
    link
    inset-delimiter
  >
    <q-item :to="{name: 'EntityListPage'}">
      <q-item-side icon="list" />
      <q-item-main label="Entities" />
    </q-item>
    <q-item :to="{name: 'FiltersPage'}">
      <q-item-side icon="filter_list" />
      <q-item-main label="Filters" />
    </q-item>
    <q-item :to="{name: 'blocks'}">
      <q-item-side :icon="$variables.getFilterIcon({__typename: 'Block'})" />
      <q-item-main label="blocks" />
    </q-item>
    <q-item :to="{name: 'categories'}">
      <q-item-side :icon="$variables.getFilterIcon({__typename: 'Category'})" />
      <q-item-main label="categories" />
    </q-item>
    <q-item :to="{name: 'checklists'}">
      <q-item-side icon="format_list_numbered" />
      <q-item-main label="Checklists" />
    </q-item>
    <q-item :to="{name: 'goals'}">
      <q-item-side icon="trending_up" />
      <q-item-main label="Goals" />
    </q-item>
    <q-item :to="{name: '3years'}">
      <q-item-side icon="public" />
      <q-item-main label="3years" />
    </q-item>
    <q-item :to="{name: 'logs'}">
      <q-item-side icon="create" />
      <q-item-main label="Logs" />
    </q-item>
    <q-item :to="{name: 'today'}">
      <q-item-side icon="add" />
      <q-item-main label="Today" />
    </q-item>
    <q-item :to="{name: 'late'}">
      <q-item-side icon="add" />
      <q-item-main label="Late" />
    </q-item>
    <q-item :to="{name: 'now'}">
      <q-item-side icon="add" />
      <q-item-main label="Now" />
    </q-item>
    <q-item :to="{name: 'advancedList'}">
      <q-item-side icon="add" />
      <q-item-main label="advanced List" />
    </q-item>
    <q-item :to="{name: 'chartsPage'}">
      <q-item-side icon="visibility" />
      <q-item-main label="ChartsPage" />
    </q-item>
    <q-item :to="{name: 'TrashPage'}">
      <q-item-side icon="add" />
      <q-item-main label="TrashPage" />
    </q-item>
    <q-item :to="{name: 'MemesPage'}">
      <q-item-side icon="add" />
      <q-item-main label="Memes" />
    </q-item>
  </q-list>
</template>

<script>
  export default {
    name: 'Menu'
  }
</script>

<style lang="scss">
  .Menu {
  }
</style>
