<template>
  <div class="OccurrenceMaker">
    <q-btn icon="done" label="ok" color="positive" @click="send"/>
    <p>
      start: {{humanDate(start)}}, end: {{humanDate(end)}}
    </p>
    <div class="row  gutter-md">
      <div class="col-xs-12 col-md-4">
        <q-select
          v-model="freq"
          float-label="on what basis ?"
          :options="freqOptions"
        />

      </div>
      <div class="col-xs-12 col-md-4">
        <q-slider class="dark" v-model="limit" :min="1" :max="30" label/>
      </div>
      <div class="col-xs-12 col-md-4">
        <q-toggle v-model="weekdays" label="MON" val="MON"/>
        <q-toggle v-model="weekdays" label="TUE" val="TUE"/>
        <q-toggle v-model="weekdays" label="WED" val="WED"/>
        <q-toggle v-model="weekdays" label="THU" val="THU"/>
        <q-toggle v-model="weekdays" label="FRI" val="FRI"/>
        <q-toggle v-model="weekdays" label="SAT" val="SAT"/>
        <q-toggle v-model="weekdays" label="SUN" val="SUN"/>
      </div>
      <div class="col-xs-12 col-md-4">
        <q-collapsible icon="explore" label="Obj">
          <div>
            <pre>
              {{rrule.origOptions}}
            </pre>
          </div>
        </q-collapsible>
      </div>
      <div class="col-xs-12 col-md-4">
        <q-collapsible icon="explore" label="Dates">
          <div>
            <p
              v-for="(date, index) in occurrences" :key="index"
            >
              {{humanDate(date, '(MM) MMM Do dddd')}}
            </p>
          </div>
        </q-collapsible>
      </div>
    </div>
  </div>
</template>

<script>
  const RRule = require('rrule').RRule
  const weekToObj = {
    MON: {'weekday': 1},
    TUE: {'weekday': 2},
    WED: {'weekday': 3},
    THU: {'weekday': 4},
    FRI: {'weekday': 5},
    SAT: {'weekday': 6},
    SUN: {'weekday': 0}
  }
  export default {
    name: 'OccurrenceMaker',
    props: {
      start: {
        required: true
      },
      end: {
        required: true
      }
    },
    data () {
      return {
        fromText: 'Every day ',
        limit: 20,
        freq: 3,
        freqOptions: [
          {
            label: 'MONTHLY',
            value: 1
          },
          {
            label: 'WEEKLY',
            value: 2
          },
          {
            label: 'DAILY',
            value: 3
          }
        ],
        weekdays: []
      }
    },
    computed: {
      computedWeekDays () {
        return this.weekdays.reduce((accum, day) => {
          accum.push(weekToObj[day])
          return accum
        }, [])
      },
      rrule () {
        let resRrule = new RRule({
          freq: this.freq,
          dtstart: new Date(this.start),
          until: new Date(this.end),
          count: this.limit,
          // byweekday: [RRule.MO, RRule.TU, RRule.WE]
          byweekday: this.computedWeekDays,
          wkst: RRule.MO
        })
        return resRrule
      },
      occurrences () {
        return this.rrule.all()
      }
    },
    methods: {
      send () {
        this.$emit('ok', this.occurrences)
      }
    }
  }
</script>

<style lang="scss">
  .OccurrenceMaker {
  }
</style>
