<template>
  <div class="ParentLink" >
    <p v-if="parent">{{parentRel}}: {{parent.name}}</p>
    <EntityActions :entity="parent"/>
    <GoalCard :goal="parent" v-if="parentRel === 'goal'"/>
  </div>
</template>

<script>
  import {GET_GOAL_BY_ID} from '../plugins/data/provider/DataModels/Goals/queries'
  import {GET_CHECKLIST_BY_ID} from '../plugins/data/provider/DataModels/Checklists/queries'
  import EntityCard from './EntityCard'
  import EntityActions from './EntityActions'
  import GoalCard from './GoalCard'

  const entityParent = {
    Step: {
      rel: 'goal',
      query: GET_GOAL_BY_ID,
      title: 'Goal'
    },
    Point: {
      rel: 'checklist',
      query: GET_CHECKLIST_BY_ID,
      title: 'Checklist'
    }
  }
  export default {
    name: 'ParentLink',
    components: {GoalCard, EntityActions, EntityCard},
    props: ['entity'],
    data () {
      return {
        entityParent,
        parent: null
      }
    },
    computed: {
      parentQuery () {
        return this.entityParent[this.entity.__typename].query
      },
      parentRel () {
        return this.entityParent[this.currentType].rel
      },
      parentId () {
        return this.entity[this.parentRel].id
      },
      currentType () {
        return this.entity.__typename
      },
      parentType () {
        return this.entityParent[this.currentType].title
      }
    },
    apollo: {
      parent () {
        return {
          query: this.parentQuery,
          variables () {
            // Use vue reactive properties here
            return {
              id: this.parentId
            }
          },
          fetchPolicy: 'network-only',
          update (data) {
            return data[this.entityParent[this.entity.__typename].title]
          },
          result ({data, loading, networkStatus}) {
            console.log('We got some result!', data)
          },
          error (error) {
            console.error('We\'ve got an error!', error)
          }
        }
      }
    }
  }
</script>

<style lang="scss">
  .ParentLink {
  }
</style>
