<template>
  <div class="TimeLine">
    <p>entities</p>
    <p>between {{start}} and {{end}} ({{distance}})</p>
    <q-card>
      <q-card-separator/>
      <q-card-main>
        <q-collapsible group="somegroup" icon="explore" label="Timeline">
          <div>
            <q-timeline color="secondary" style="padding: 0 24px;">
              <q-timeline-entry
                icon="explore"
                :title="humanDate(index)"
                :subtitle="' (' + date.length + ')'"
                v-for="(date, index) in groupedByDate"
                :key="index"
                v-if="date.length"
              >
                <div class=" q-ma-md shadow-3 ">
                  <EntityCard class="TLEntry" :entity="entity" v-for="entity in date" :key="entity.id"/>
                </div>
              </q-timeline-entry>
            </q-timeline>
          </div>
        </q-collapsible>
      </q-card-main>
    </q-card>
  </div>
</template>

<script>
  import dateFs from 'date-fns'
  import EntityCard from './EntityCard'

  export default {
    name: 'TimeLine',
    components: {EntityCard},
    props: ['entities', 'startProp', 'endProp'],
    computed: {
      groupedByDate () {
        let days = dateFs.eachDay(this.start, this.end)
        let collection = {}
        days.forEach(day => {
          collection[day] = []
          this.entities.forEach(entity => {
            if (this.canHaveDates(entity) && entity.start && entity.end) {
              if (
                (dateFs.isAfter(day, entity.start) || dateFs.isSameDay(day, entity.start)) &&
                (dateFs.isAfter(entity.end, day) || dateFs.isSameDay(day, entity.end))
              ) {
                collection[day].push(entity)
              }
            }
          })
        })
        return collection
      },
      start: {
        get () {
          if (this.startProp) {
            return this.startProp
          }
          return this.$store.getters['dates/getStart']
        }
      },
      end: {
        get () {
          if (this.endProp) {
            return this.endProp
          }
          return this.$store.getters['dates/getEnd']
        }
      },
      distance () {
        return dateFs.distanceInWords(this.start, this.end)
      }
    }
  }
</script>

<style lang="stylus">
  .GroupByDate {
  }

  .TLEntry {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
</style>
