<template>
  <q-modal v-model="openedForm" :content-css="{minWidth: '80vw'}">
    <EntityFullView :entity="entity"/>
  </q-modal>
</template>
<script>
  import EntityFullView from './EntityFullView'
  export default {
    name: 'ViewEntityModal',
    methods: {
      closeForm () {
        this.$store.dispatch('entity/closeForm')
      }
    },
    computed: {
      openedForm: {
        get () {
          return this.$store.getters['entity/viewFormOpen']
        },
        set (v) {
          if (v === false) {
            this.closeForm()
          }
        }
      },
      entity () {
        return this.$store.state.entity.editableEntity
      }
    },
    components: {EntityFullView}
  }
</script>
