<template>
  <q-card style="width: 79vw" class="q-ma-md">
    <q-card-title>
      Week chart
    </q-card-title>
    <q-card-separator/>
    <q-card-main style="height: 400px">
      <q-btn icon="arrow_left" label="back" @click="dayOffset = dayOffset - 1" />
      <q-btn icon="arrow_right" label="forward" @click="dayOffset = dayOffset + 1" />
      <ECharts :options="chartOption" style="width: 100%; height:100%"></ECharts>
    </q-card-main>
  </q-card>
</template>
<script>
  import ECharts from 'vue-echarts/components/ECharts.vue'
  import 'echarts/lib/chart/pie'
  import 'echarts/lib/chart/line'
  import 'echarts/lib/component/title'
  import datefns from 'date-fns'
  let getRangeDays = function (start, end) {
    return datefns.eachDay(start, end)
  }
  let addOffset = function (date, offset) {
    let newDt = datefns.addDays(date, offset)
    return newDt
  }
  export default {
    name: 'WeekChart',
    components: {ECharts},
    props: {
      logs: {}
    },
    data () {
      return {
        dayOffset: 0
      }
    },
    methods: {
      getWeekLogs (status = 'Complete') {
        let weekCounted = this.logs
          .filter(log => {
            let logDate = new Date(log.time)
            return datefns.isWithinRange(logDate, this.weekStart, this.weekEnd)
          })
          .filter(log => {
            return log.kind === status
          })
          // .reduce(weekReducer, getRangeDays(this.weekStart, this.weekEnd))
        let days = getRangeDays(this.weekStart, this.weekEnd)
          .map(day => {
            let counter = 0
            weekCounted.forEach(log => {
              if (datefns.isSameDay(day, log.time)) {
                counter += 1
              }
            })
            return counter
          })
        return days
      }
    },
    computed: {
      weekStart () {
        let d = new Date()
        let start = datefns.startOfWeek(d, {weekStartsOn: 1})
        start = addOffset(start, this.dayOffset)
        return start
      },
      weekEnd () {
        let d = new Date()
        let end = datefns.endOfWeek(d, {weekStartsOn: 1})
        end = addOffset(end, this.dayOffset)
        return end
      },
      chartOption () {
        return {
          title: {
            text: 'Week chart'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['complete', 'failed', 'cancelled']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '13%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: getRangeDays(this.weekStart, this.weekEnd).map(d => {
              return datefns.format(d, 'MMM DD dd')
            })
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              name: 'Complete',
              type: 'line',
              data: this.getWeekLogs(),
              color: 'green'
            },
            {
              name: 'Cancelled',
              type: 'line',
              data: this.getWeekLogs('Cancelled'),
              color: 'darkgray'
            },
            {
              name: 'Failed',
              type: 'line',
              data: this.getWeekLogs('Failed'),
              color: 'red'
            }
          ]
        }
      },
      chartOption2 () {
        return {
          title: {
            text: '折线图堆叠'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              name: '邮件营销',
              type: 'line',
              stack: '总量',
              data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
              name: '联盟广告',
              type: 'line',
              stack: '总量',
              data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
              name: '视频广告',
              type: 'line',
              stack: '总量',
              data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
              name: '直接访问',
              type: 'line',
              stack: '总量',
              data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
              name: '搜索引擎',
              type: 'line',
              stack: '总量',
              data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
          ]
        }
      }
    }
  }
</script>
