<template>
  <div class="ChecklistsAdvancedList">
    <q-card>
      <q-card-title>
        Checklists ({{checklists.length}})
        <q-btn icon="autorenew" label="refetch" @click="refetchList"/>
      </q-card-title>
      <q-card-separator/>
      <q-collapsible icon="explore" label="Variable">
        <DisplayVariable :variable="variable"/>
      </q-collapsible>
      <q-collapsible icon="explore" label="Settings">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <q-checkbox
              v-model="checklistTypes"
              :val="0"
              label="Blueprint"
            />
            <q-checkbox
              v-model="checklistTypes"
              :val="1"
              label="Running"
            />
          </div>
          <div class="col-xs-12 col-md-6">
            <q-toggle v-model="showPoints" label="Show points" />
          </div>
        </div>
      </q-collapsible>
      <q-collapsible icon="explore" label="list">
        <div class="flex justify-around" v-if="!showPoints">
          <ChecklistCard
            :entity="checklist"
            v-for="checklist in checklists"
            :key="checklist.id"
          />
        </div>
        <div class="flex justify-around" v-if="showPoints">
          <EntityCard
            :entity="point"
            v-for="point in points"
            :key="point.id"
          />
        </div>
      </q-collapsible>
    </q-card>
  </div>
</template>

<script>
  import EntityCard from '../../EntityCard'
  import {checklists} from './queries'
  import DisplayVariable from '../DisplayVariable'
  import {filter} from '../../../plugins/data/graphqlQueries/filtersFilter/filtersFilter'
  import ChecklistCard from '../../ChecklistCard'

  export default {
    components: {ChecklistCard, DisplayVariable, EntityCard},
    name: 'ChecklistsAdvancedList',
    data () {
      return {
        checklists: [],
        checklistTypes: [0, 1],
        checklistTypesOptions: [0, 1],
        showPoints: false
      }
    },
    computed: {
      variable () {
        return {
          id: this.userId,
          filter: {
            AND: [
              this.apply ? filter : {},
              {
                'type_in': this.checklistTypes
              }
            ]
          },
          pointFilter: {
            AND: [
              this.statusFilter
            ]
          }
        }
      },
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      },
      points () {
        if (this.checklists && this.checklists.length) {
          return this.checklists
            .reduce((accum, checklist) => {
              return accum.concat(checklist.points)
            }, [])
        }
        return []
      },
      statusFilter () {
        return {
          status_in: this.$store.state.filters.entityStatuses
        }
      }
    },
    methods: {
      refetchList () {
        this.$q.notify({
          message: `Refetching list`,
          timeout: 3000,
          type: 'info',
          icon: 'autorenew',
          position: 'top-right'
        })
        this.$apollo.queries.checklists.refetch()
      }
    },
    apollo: {
      checklists: {
        query: checklists,
        variables () {
          return this.variable
        },
        update (data) {
          return data.User.checklists
        },
        result ({data, loading, networkStatus}) {
          this.$q.notify({
            message: `checklists loaded`,
            timeout: 2000,
            type: 'positive',
            icon: 'done',
            position: 'top-right'
          })
        },
        error (error) {
          this.$q.notify({
            message: `failed to load checklists: ${error.message}`,
            timeout: 2000,
            type: 'positive',
            icon: 'done',
            position: 'top-right'
          })
        },
        loadingKey: 'loadingQueriesCount'
      }
    }
  }
</script>

<style lang="scss">
  .ChecklistsAdvancedList {
  }
</style>
