<template>
  <div class="DisplayVariable">
    <pre>
      {{variable}}
    </pre>
  </div>
</template>

<script>
  export default {
    name: 'DisplayVariable',
    props: ['variable']
  }
</script>

<style lang="scss">
  .DisplayVariable {
  }
</style>
