<template>
  <q-layout
    view="lHr LpR lFr"
    class="q-mb-xl"
  >
    <q-layout-header reveal>
      <q-toolbar
        color="primary"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu"/>
        </q-btn>
        <q-toolbar-title>
          {{currentTime}}
          <div slot="subtitle">{{title}}</div>
        </q-toolbar-title>
        <q-btn
          flat
          dense
          round
          @click.native="toggleToggleFiltersModal"
          aria-label="Menu"
        >
          <q-icon name="code"/>
        </q-btn>
        <q-btn
          icon="list"
          flat
          round
          v-if="isLoggedIn"
          @click="rightDrawerOpen = !rightDrawerOpen"
        >
        </q-btn>
        <q-btn
          :icon="userIcon"
          flat
          round
        >
          <q-popover>
            <q-list>
              <q-item
                :to="{name: 'register'}"
                v-if="!isLoggedIn"
              >
                <q-item-main label="register"/>
              </q-item>
              <q-item
                :to="{name: 'login'}"
                v-if="!isLoggedIn"
              >
                <q-item-main label="login"/>
              </q-item>
              <q-item
                v-if="isLoggedIn"
                style="cursor: pointer"
                @click.native="logout"
              >
                <q-item-main label="logout"/>
              </q-item>
            </q-list>
          </q-popover>
        </q-btn>
      </q-toolbar>
    </q-layout-header>
    <q-fab
      class="fixed"
      style="right: 18px; bottom: 18px"
      color="primary"
      icon="add"
      direction="up"
    >
      <q-fab-action
        color="primary"
        icon="crop_landscape"
        @click="openCreateForm('Task')"
      />
      <q-fab-action
        color="primary"
        :icon="$variables.getEntityIcon({__typename: 'Goal'})"
        @click="openCreateForm('Goal')"
      />
      <q-fab-action
        color="primary"
        :icon="$variables.getEntityIcon({__typename: 'Checklist'})"
        @click="openCreateForm('Checklist')"
      />
      <q-fab-action
        color="green"
        icon="create"
        @click="openCreateLog"
      />
    </q-fab>
    <q-fab
      class="fixed"
      style="left: 18px; bottom: 18px"
      color="green-8"
      icon="add"
      direction="up"
    >
      <q-fab-action
        color="green-8"
        :icon="$variables.getFilterIcon({__typename: 'Block'})"
        @click="openCreateFilterForm('Block')"
      />
      <q-fab-action
        color="green-8"
        :icon="$variables.getFilterIcon({__typename: 'Category'})"
        @click="openCreateFilterForm('Category')"
      />
      <q-fab-action
        color="green-8"
        :icon="$variables.getFilterIcon({__typename: 'Mood'})"
        @click="openCreateFilterForm('Mood')"
      />
      <q-fab-action
        color="green-8"
        :icon="$variables.getFilterIcon({__typename: 'Project'})"
        @click="openCreateFilterForm('Project')"
      />
      <q-fab-action
        color="green-8"
        :icon="$variables.getFilterIcon({__typename: 'Context'})"
        @click="openCreateFilterForm('Context')"
      />
    </q-fab>
    <q-layout-drawer
      side="right"
      v-model="rightDrawerOpen"
    >
      <StatusFilter/>
      <SelectEntitiesModal/>
      <FiltersToggle/>
      <CheckFiltersModal/>
      <SelectDatesModal/>

    </q-layout-drawer>
    <q-layout-drawer
      overlay
      behavior="mobile"
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <Menu/>
    </q-layout-drawer>
    <q-page-container>
      <transition
        name="transitions"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
        :duration="200"
        mode="out-in"
      >
        <router-view/>
      </transition>
    </q-page-container>
    <!-- Entity Edit modal-->
    <CreateEntityModal v-if="createFormOpen"/>
    <EditEntityModal v-if="editFormOpen"/>
    <ViewEntityModal v-if="viewFormOpen"/>
    <FilterModal/>
    <LogsModal/>
    <FiltersToggleModal v-if="isLoggedIn"/>
  </q-layout>
</template>

<script>
  import FilterModal from '../components/FilterModal'
  import {openURL} from 'quasar'
  import Menu from '../components/Menu'
  import CreateEntityModal from '../components/CreateEntityModal'
  import EditEntityModal from '../components/EditEntityModal'
  import ViewEntityModal from '../components/ViewEntityModal'
  import LogsModal from '../components/LogsModal'
  import FiltersToggleModal from '../components/FiltersToggleModal/FiltersToggleModal'
  import {PENDING} from '../plugins/variables'
  import SelectEntitiesModal from '../components/FiltersToggleModal/SelectEntitiesModal'
  import CheckFiltersModal from '../components/FiltersToggleModal/CheckFiltersModal'
  import SelectDatesModal from '../components/FiltersToggleModal/SelectDatesModal'
  import StatusFilter from '../components/StatusFilter/StatusFilter'
  import FiltersToggle from '../components/FiltersToggle'

  export default {
    name: 'LayoutDefault',
    data () {
      return {
        leftDrawerOpen: false,
        footer: true,
        statusesModal: false,
        rightDrawerOpen: true
      }
    },
    methods: {
      openURL,
      goToHome () {
        this.$router.push({name: 'home'})
      },
      openCreateForm (type) {
        let obj = {__typename: type}
        if (this.canHaveStatus(obj)) {
          obj.status = PENDING
        }
        if (this.canHaveDates(obj)) {
          // today date
          let today = this.$dfs.startOfDay(new Date(), 22)
          let end = this.$dfs.addHours(today, 22)
          obj.start = today
          obj.end = end
        }
        this.$store.dispatch('entity/openCreateForm', obj)
      },
      openCreateFilterForm (filterType) {
        this.$store.dispatch('filters/openCreate', {__typename: filterType, __formType: 'create'})
      },
      toggleNarrowsModal () {
        this.$store.commit('filters/toggleNarrowsModal')
      },
      openCreateLog () {
        this.$store.commit('logs/openCreate')
      },
      toggleToggleFiltersModal () {
        this.$store.commit('filters/toggleToggleFiltersModal')
      },
      toggleStatusesModal () {
        this.statusesModal = !this.statusesModal
      }
    },
    computed: {
      title () {
        if (this.isLoggedIn) {
          return this.$store.getters['user/getUser'].email
        }
        return 'Ellomend'
      },
      userIcon () {
        return this.isLoggedIn
          ? 'person'
          : 'person_outline'
      },
      editFormOpen () {
        return this.$store.getters['entity/editFormOpen']
      },
      createFormOpen () {
        return this.$store.getters['entity/createFormOpen']
      },
      viewFormOpen () {
        return this.$store.getters['entity/viewFormOpen']
      },
      updateList () {
        return this.$store.getters['entity/toUpdateList']
      },
      currentTime () {
        return this.$store.getters['dates/getDisplayTime']
      }
    },
    components: {
      FiltersToggle,
      StatusFilter,
      SelectDatesModal,
      CheckFiltersModal,
      SelectEntitiesModal,
      FiltersToggleModal,
      LogsModal,
      ViewEntityModal,
      Menu,
      CreateEntityModal,
      EditEntityModal,
      FilterModal
    },
    watch: {
      updateList (v) {
        if (v) {
          console.log('store global refetch')
          this.$root.$emit('refetch_list')
        }
        console.log('store global refetch finished')
        this.$store.dispatch('entity/listUpdated')
      }
    },
    mounted () {
      this.$store.dispatch('dates/start')
    }
  }
</script>

<style>
  .pointer {
    cursor: pointer;
  }
</style>
