<template>
  <div
    class="user"
    v-if="user"
  >
    <q-field
    >
      <q-toggle
        v-model="apply"
        label="Apply filters"
      />
    </q-field>
    <q-collapsible
      icon="explore"
      :opened="true"
      label="Filters"
    >
      <div>
        <FilterToggleList
          :heading="item"
          :list="user[item]"
          v-for="item in Object.keys(user)"
          :key="item"
        />
      </div>
    </q-collapsible>
  </div>
</template>

<script>
  import StatusFilter from '../StatusFilter/StatusFilter'
  import FilterToggleList from './FilterToggleList'
  import {stuff} from '../../plugins/graphql'

  export default {
    name: 'CheckFiltersModal',
    components: {FilterToggleList, StatusFilter},
    data () {
      return {
        user: null
      }
    },
    computed: {
      opened: {
        get () {
          return this.value
        },
        set () {
          this.$emit('input', false)
        }
      },
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      }
    },
    apollo: {
      user: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          return user
        }
      }
    }
  }
</script>

<style lang="scss">
  .user {
  }

  .CheckFiltersModal {
  }
</style>
