<template>
  <div class="FilterToggleList">
    <q-list highlight class="q-my-md" separator>
        <q-item v-for="filter in list" :key="filter.id">
          <q-item-main>
            <div class="row">
              <div class="col-xs-12 col-md-11">
                <q-icon size="20px" :name="$variables.getFilterIcon(filter)"/>&nbsp;&nbsp;&nbsp;{{filter.name}}
              </div>
              <div class="col-xs-12 col-md-1">
                <q-checkbox
                  toggle-indeterminate
                  :value="getValue(filter)"
                  :color="getColor(filter)"
                  :class="`text-${getColor(filter)}`"
                  @input="toggle(filter)"
                />
              </div>
            </div>
          </q-item-main>
        </q-item>
      </q-list>
  </div>
</template>

<script>
  import gql from 'graphql-tag'
  export default {
    name: 'FilterToggleList',
    props: ['list', 'heading'],
    methods: {
      getValue (filter) {
        let newState = null
        if (filter.state === 'Included') {
          newState = true
        } else if (filter.state === 'Excluded') {
          newState = false
        } else {
          newState = null
        }
        return newState
      },
      getColor (filter) {
        let newState = 'black'
        if (filter.state === 'Included') {
          newState = 'green-8'
        } else if (filter.state === 'Excluded') {
          newState = 'red-8'
        } else {
          newState = 'black'
        }
        return newState
      },
      toggle (filter) {
        let newState = 'Ignored'
        if (filter.state === 'Included') {
          newState = 'Excluded'
        } else if (filter.state === 'Excluded') {
          newState = 'Ignored'
        } else {
          newState = 'Included'
        }
        // We save the user input in case of an error
        // We clear it early to give the UI a snappy feel
        // Call to the graphql mutation
        this.loading = true
        this.$apollo.mutate({
          // Query
          mutation: gql`mutation ($state: State, $id: ID!) {
              update${filter.__typename}(state: $state, id: $id) {
                id
              }
            }`,
          // Parameters
          variables: {
            state: newState,
            id: filter.id
          }
        }).then((data) => {
          // Result
          console.log(data)
          console.log('start refetching')
          this.$root.$emit('refetch_filters')
          this.$root.$emit('refetch_list')
          this.loading = false
        }).catch((error) => {
          // Error
          console.error(error)
          this.loading = false
          // We restore the initial user input
        })
      }
    }
  }
</script>

<style lang="scss">
  .FilterToggleList {
  }
</style>
