<template>
  <q-modal v-model="opened" >
    <q-card v-if="user" style="min-width: 80vw">
      <q-card-separator />
      <q-collapsible icon="add" label="Filters">
        <q-field
        >
          <q-toggle v-model="apply" label="Apply filters"/>
        </q-field>
        <FilterToggleList :heading="item" :list="user[item]" v-for="item in Object.keys(user)" :key="item"/>
      </q-collapsible>
      <q-collapsible icon="info" opened label="Narrows">
        <div>
          <Narrows/>
        </div>
      </q-collapsible>
    </q-card>
    <p v-else>Loading...</p>
    <q-btn
      color="primary"
      @click="opened = false"
      label="Close"
      class="q-my-md"
    />
  </q-modal>
</template>

<script>
  import {stuff} from '../../plugins/graphql'
  import FilterToggleList from './FilterToggleList'
  import Narrows from './Narrows'

  export default {
    name: 'FiltersToggleModal',
    components: {Narrows, FilterToggleList},
    data () {
      return {
        user: null
      }
    },
    methods: {
      delayedRefetch () {
        console.log('refetching filters')
        setTimeout(() => {
          this.$apollo.queries.user.refetch()
        }, 300)
      }
    },
    apollo: {
      user: {
        query: stuff.ALL_FILTERS_QUERY,
        variables () {
          return {
            id: this.userId
          }
        },
        update (r) {
          let user = {...r.User}
          delete user.__typename
          return user
        }
      }
    },
    computed: {
      opened: {
        get () {
          return this.$store.getters['filters/showToggleFiltersModal']
        },
        set (val) {
          this.$store.commit('filters/setToggleFiltersModal', val)
        }
      },
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$store.commit('filters/toggleApply')
        }
      }
    },
    mounted () {
      console.log('mounter')
      this.$root.$on('refetch_filters', this.delayedRefetch)
    },
    destroyed () {
      this.$root.$off('refetch_filters', this.delayedRefetch)
    }
  }
</script>

<style lang="scss">
  .FiltersToggleModal {
  }
</style>
