<template>
  <q-card>
    <q-card-separator/>
    <q-card-main>
      <div class="row">
        <div class="col-12">
          <DatesFilterImg/>
          <StatusFilter/>
          <q-option-group
            color="red-8"
            type="checkbox"
            v-model="entityTypes"
            :options="[
                  { label: 'Task', value: 'Task' },
                  { label: 'Checklist', value: 'Checklist' },
                  { label: 'Point', value: 'Point' },
                  { label: 'Goal', value: 'Goal' },
                  { label: 'Step', value: 'Step' },
                  { label: 'Log', value: 'Log' }
                ]"
          />
        </div>
      </div>
    </q-card-main>
  </q-card>
</template>
<script>
  import dateFs from 'date-fns'
  import StatusFilter from '../StatusFilter/StatusFilter'
  import DatesFilterImg from '../DatesFilter/DatesFilterImg'

  export default {
    name: 'Narrows',
    components: {DatesFilterImg, StatusFilter},
    computed: {
      apply: {
        get () {
          return this.$store.getters['filters/apply']
        },
        set () {
          this.$root.$emit('refetch_entities')
          this.$root.$emit('refetch_filters')
          console.log('trigger refetch')
          this.$store.commit('filters/toggleApply')
        }
      },
      applyDates: {
        get () {
          return this.$store.getters['dates/applyDates']
        },
        set () {
          this.$root.$emit('refetch_entities')
          this.$root.$emit('refetch_filters')
          console.log('trigger refetch')
          this.$store.commit('dates/toggleApplyDates')
        }
      },
      start: {
        get () {
          return this.$store.getters['dates/getStart']
        },
        set (val) {
          this.$store.commit('dates/setStart', val)
        }
      },
      end: {
        get () {
          return this.$store.getters['dates/getEnd']
        },
        set (val) {
          this.$store.commit('dates/setEnd', val)
        }
      },
      showLate: {
        get () {
          return this.$store.getters['dates/showLate']
        },
        set () {
          this.$store.commit('dates/toggleShowLate')
        }
      },
      entityTypes: {
        get () {
          return this.$store.getters['filters/getShowEntityTypes']
        },
        set (val) {
          console.log(val)
          this.$store.commit('filters/setEntityTypes', val)
        }
      }
    },
    methods: {
      setPreset (type) {
        if (type === 'this_week') {
          let start = dateFs.startOfWeek(Date.now())
          let end = dateFs.endOfWeek(Date.now())
          this.start = start
          this.end = end
        } else if (type === 'next_week') {
          let date = dateFs.addWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.start = start
          this.end = end
        } else if (type === 'past_week') {
          let date = dateFs.subWeeks(Date.now(), 1)
          let start = dateFs.startOfWeek(date)
          let end = dateFs.endOfWeek(date)
          this.start = start
          this.end = end
        } else if (type === 'past_month') {
          let date = dateFs.subMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.start = start
          this.end = end
        } else if (type === 'this_month') {
          let date = Date.now()
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.start = start
          this.end = end
        } else if (type === 'today') {
          let date = Date.now()
          let start = dateFs.startOfDay(date)
          let end = dateFs.endOfDay(date)
          this.start = start
          this.end = end
        } else if (type === 'next_month') {
          let date = dateFs.addMonths(Date.now(), 1)
          let start = dateFs.startOfMonth(date)
          let end = dateFs.endOfMonth(date)
          this.start = start
          this.end = end
        }
      }
    }
  }
</script>
