<template>
  <div class=" q-ma-md">
    <q-option-group
      color="red-8"
      type="checkbox"
      v-model="entityTypes"
      :options="[
                  { label: 'Task', value: 'Task' },
                  { label: 'Checklist', value: 'Checklist' },
                  { label: 'Point', value: 'Point' },
                  { label: 'Goal', value: 'Goal' },
                  { label: 'Step', value: 'Step' },
                  { label: 'Log', value: 'Log' }
                ]"
    />
  </div>
</template>

<script>
  export default {
    name: 'SelectEntitiesModal',
    computed: {
      entityTypes: {
        get () {
          return this.$store.getters['filters/getShowEntityTypes']
        },
        set (val) {
          console.log(val)
          this.$store.commit('filters/setEntityTypes', val)
        }
      },
      opened: {
        get () {
          return this.value
        },
        set () {
          this.$emit('input', false)
        }
      }
    }
  }
</script>

<style lang="scss">
  .SelectEntitiesModal {
  }
</style>
