<template>
    <DatesFilterImg/>
</template>

<script>
  import StatusFilter from '../StatusFilter/StatusFilter'
  import DatesFilterImg from '../DatesFilter/DatesFilterImg'
  export default {
    name: 'SelectDatesModal',
    components: {DatesFilterImg, StatusFilter}
  }
</script>

<style lang="scss">
  .SelectDatesModal {
  }
</style>
